<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lattemarche.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>lattemarche.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lattemarche</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$lattemarche</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="LatteMarcheDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=lattemarche.database.windows.net;Initial Catalog=lattemarche;Persist Security Info=False;User ID=lattemarche;Password=Whitemilk01!;MultipleActiveResultSets=True;Application Name=EntityFramework" Name="data source=lattemarche.database.windows.net;initial catalog=lattemarche;persist security info=False;user id=lattemarche;password=Whitemilk01!;MultipleActiveResultSets=True;App=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lattemarche.database.windows.net;Initial Catalog=lattemarche;Persist Security Info=False;User ID=lattemarche;Password=Whitemilk01!;MultipleActiveResultSets=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LatteMarcheDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=lattemarche.database.windows.net;initial catalog=lattemarche;persist security info=False;user id=lattemarche;password=Whitemilk01!;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="OldDbContext" Order="2" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=79.1.200.254;Initial Catalog=NEWDB_LATTE_MARCHE;Persist Security Info=False;User ID=userlm;Password=admin;MultipleActiveResultSets=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OldDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=79.1.200.254;initial catalog=NEWDB_LATTE_MARCHE;persist security info=False;user id=userlm;password=admin;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OldDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="LatteMarcheDbContext-Web.config Connection String">
      <ParameterValue>data source=lattemarche.database.windows.net;initial catalog=lattemarche;persist security info=False;user id=lattemarche;password=Whitemilk01!;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>