@using LatteMarche.WebApi.Models
@using LatteMarche.WebApi.Helpers

@model LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
</div>

<!-- Js -->
@section Js
{
    @{
        var version = System.Configuration.ConfigurationManager.AppSettings["version"];
        var folder = EnvHelper.IsProd ? "prod/js" : "dev";
        var url = "~/dist/" + folder + "/changePassword.js";

        <script src="@Url.Content(url)?ver=@version"></script>
    }
}