@using LatteMarche.WebApi.Models
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string version = System.Configuration.ConfigurationManager.AppSettings["version"];
}

<div id="app">
</div>


<script src="@Url.Content("~/dist/changePassword.js")?ver=@version"></script>

