@using LatteMarche.WebApi.Models
@model LoginViewModel

@{ 
    Layout = "~/Views/Shared/_FullPageLayout.cshtml";
}

<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-1" id="m_login" style="background-color:#36a3f7">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">

                <!-- Logo -->
                <div class="m-login__logo">
                    <a href="@string.Format("{0}://{1}:{2}/", Request.Url.Scheme, Request.Url.Host, Request.Url.Port)">
                        <img src="~/Content/assets/demo/demo2/media/img/logo/lattemarche-logo.png" width="50%" />
                    </a>
                </div>

                <!-- Form Login -->
                <div class="m-login__signin">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            Accedi alla dashboard
                        </h3>
                    </div>

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-login__form m-form" }))
                    {


                        <div class="m-input-icon m-input-icon--left m-input-icon--right">
                            @Html.TextBoxFor(m => m.Username, "", new { placeholder = "Username",  @class = "form-control m-input m-input--pill m-input--air" })
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-user"></i>
                                </span>
                            </span>
                        </div>

                        <div class="m-input-icon m-input-icon--left m-input-icon--right" style="margin-top:1em">
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control m-input m-input--pill m-input--air" })
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-key"></i>
                                </span>
                            </span>
                        </div>

                        if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <div class="row">
                                <p class="col-lg-8 col-xs-offset-4 text-danger">* Username o password errati</p>
                            </div>
                        }

                        @*<div class="row m-login__form-sub">
                            <div class="col m--align-left m-login__form-left">
                                <label class="m-checkbox  m-checkbox--light">
                                    <input type="checkbox" name="remember">
                                    Ricordami
                                    <span></span>
                                </label>
                            </div>
                            <div class="col m--align-right m-login__form-right">
                                <a href="javascript:;" id="m_login_forget_password" class="m-link">
                                    Password dimenticata ?
                                </a>
                            </div>
                        </div>*@
                        <div class="m-login__form-action">
                            <button type="submit" id="m_login_signin_submit" class="btn m-btn--pill m-btn--air btn-secondary m-btn m-btn--custom m-btn--label-accent">
                                Log In
                            </button>
                        </div>


                    }

                </div>

            </div>
        </div>
    </div>
</div>


