@using LatteMarche.WebApi.Models
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-5 d-flex align-items-center">
        <div class="col-4  mt-5 offset-4">
            <h3 class="text-center mb-2">Accedi alla piattaforma</h3>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-login__form m-form" }))
            {
                <div class="form-group">
                    <label>Username</label>
                    @Html.TextBoxFor(m => m.Username, "", new { placeholder = "Inserisci il tuo Username", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Password</label>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Inserisci la tua password", @class = "form-control" })
                </div>
                if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="row">
                        <p class="col-sm-6 offset-sm-3 text-danger">* Username o password errati</p>
                    </div>
                }
                <button id="btnLogin" type="submit" class="btn btn-success" style="width:100%">ACCEDI</button>
            }

        </div>
    </div>
</div>


