<div id="prelievi-latte-edit" class="container-fluid">

    <!-- Pannello modale del caricamento -->
    <waiter ref="waiter"></waiter>

</div>

<script type="application/javascript" src="~/build/prelievi_latte_edit.js"></script>

