<div id="prelievi-latte-edit" class="container-fluid">

    <input hidden id="id" value="@Request["id"]" />

    <!-- modale caricamento -->
    <waiter ref="waiter"></waiter>

    <!-- modale modifica/inserisci prelievo -->
    <editazione-prelievo-modal ref="editazionePrelievoModal"
                               :prelievo-latte="prelievoSelezionato"
                               v-on:salvato="$refs.savedDialog.open()"></editazione-prelievo-modal>
    
    <!-- Pannello Salvataggio prelievo-->
    <notification-dialog ref="savedDialog"
                         :title="'Conferma salvataggio'"
                         :message="'Il prelievo è stato salvato correttamente'"
                         v-on:ok="window.location = '/prelievi/edit?id=' + id"></notification-dialog>


    <!-- visualizza prelievi dal al -->
    <div class="row form-group">
        <label class="col-sm-2 offset-2">Visualizza prelievi dal</label>
        <div class="col-sm-2">
            <datepicker :value.sync="dataInzio" />
        </div>
        <label>al</label>
        <div class="col-sm-2">
            <datepicker :value.sync="dataFine" />
        </div>
    </div>

    <!-- bottone cerca -->
    <div class="row form-group">
        <div class="col-sm-4 offset-4 text-right pr-0">
            <button class="btn btn-success" v-on:click="loadPrelievi">Cerca</button>
        </div>
    </div>

    <!-- hr -->
    <div class="row form-group">
        <div class="col-sm-12">
            <hr />
        </div>
    </div>

    <!-- allevatore selezionato / bottone aggiungi prelievo a mano -->
    <div class="row form-group">
        <div class="col-sm-6">
            <h4 class="font-weight-bold">Lista prelievi di {{utente.Cognome}} {{utente.Nome}}</h4>
            <h6>Ragione sociale: {{utente.RagioneSociale}}</h6>
        </div>
        <div class="col-sm-6 text-right">
            <button v-on:click="aggiungiPrelievoManualmente()" class="btn btn-success">Aggiungi prelievo manualmente</button>
        </div>
    </div>

    <!-- tabella prelievi -->
    <div class="row form-group" v-if="prelievi.length > 0">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Data prelievo</th>
                        <th>Data consegna</th>
                        <th>Quantità (Kg)</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="prelievo in prelievi">
                        <td>{{prelievo.DataPrelievo}}</td>
                        <td>{{prelievo.DataConsegna}}</td>
                        <td>{{prelievo.Quantita}}</td>
                        <td>
                            <a v-on:click="onPrelievoSelezionato(prelievo)" href="#">Seleziona</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row form-group" v-else>
        <div class="col-sm-12 text-center">
            <h4>Nessun prelievo trovato</h4>
        </div>
    </div>

</div>

<script type="application/javascript" src="~/build/prelievi_latte_edit.js"></script>

