@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Prelievi latte" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<div id="index-prelievi-latte-page">

    <table class="table table-striped table-bordered" id="prelievi-latte-table">
        <thead>
            <tr>
                <th>Ragione sociale</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>

<link rel="stylesheet" href="~/Content/plugins/datatables/css/dataTable.b4.css" />
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/dataTable.b4.js"></script>
<script src="~/src/pages/prelievi-latte/index.page.js"></script>

<script>

    jQuery(document).ready(function () {
        var prelieviLatteIndex = new TabellaPrelieviLatte();
    });

</script>



























@using LatteMarche.WebApi.Models @model LoginViewModel

<!-- Modale per dettaglio del prelievo -->
@*<div class="modal fade" id="modale-dettaglio-prelievo-latte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!-- header modale -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-weight:600">Dettaglio del prelievo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="m-scrollable mCustomScrollbar _mCS_3 mCS-autoHide" data-scrollbar-shown="true" data-scrollable="true" data-max-height="600" style="max-height: 600px; height: 600px; position: relative; overflow: visible;">
                        <div id="mCSB_3" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;">

                            <!-- data prelievo -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Data prelievo
                                </label>
                                <div class="col-4 input-group date date-picker">
                                    <input data-bind="value: DataPrelievo" type="text" class="form-control m-input" placeholder="Data prelievo">
                                    <span class="input-group-addon">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                                <div class="col-4 input-group timepicker">
                                    <span class="input-group-addon">
                                        <i class="la la-clock-o"></i>
                                    </span>
                                    <input data-bind="value: OraPrelievo" type="text" class="form-control m-input timepicker" placeholder="Ora prelievo">
                                </div>
                            </div>

                            <!-- data ultima mungitura -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Data ultima mungitura
                                </label>
                                <div class="col-4 input-group date date-picker">
                                    <input data-bind="value: DataUltimaMungitura" type="text" class="form-control m-input" placeholder="Data mungitura">
                                    <span class="input-group-addon">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                                <div class="col-4 input-group timepicker">
                                    <span class="input-group-addon">
                                        <i class="la la-clock-o"></i>
                                    </span>
                                    <input data-bind="value: OraUltimaMungitura" type="text" class="form-control m-input timepicker" placeholder="Ora mungitura">
                                </div>
                            </div>

                            <!--data di consegna -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Data di consegna
                                </label>
                                <div class="col-4 input-group date date-picker">
                                    <input data-bind="value: DataConsegna" type="text" class="form-control m-input" placeholder="Data consegna">
                                    <span class="input-group-addon">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                                <div class="col-4 input-group timepicker">
                                    <span class="input-group-addon">
                                        <i class="la la-clock-o"></i>
                                    </span>
                                    <input data-bind="value: OraConsegna" type="text" class="form-control m-input timepicker" placeholder="Ora consegna">
                                </div>
                            </div>

                            <!-- numero di mungiture -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Numero di mungiture
                                </label>
                                <div class="col-lg-8">
                                    <input data-bind="value: NumeroMungiture" type="number" class="form-control m-input" placeholder="Inserisci numero mungiture">
                                </div>
                            </div>

                            <!-- quantita in kg -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Quantità Kg
                                </label>
                                <div class="col-lg-8">
                                    <input data-bind="value: QuantitaMungitura" type="number" class="form-control m-input" placeholder="Inserisci quantità">
                                </div>
                            </div>

                            <!-- tempratura in C° -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Temperatura C°
                                </label>
                                <div class="col-lg-8">
                                    <input data-bind="value: TemperaturaMungitura" type="number" class="form-control m-input" placeholder="Inseriesci temperatura">
                                </div>
                            </div>

                            <!-- trasportatore -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Trasportatore
                                </label>
                                <div class="col-lg-8">
                                    <div class="m-select2 m-select2--pill">
                                        <select id="trasportatori" data-bind="options: Trasportatori, optionsValue: 'Id', value: TrasportatoreSelezionato, optionsText: 'Cognome', select2: {allowClear: true}" name="param" data-placeholder="Seleziona trasportatore" tabindex="-1" aria-hidden="true" class="form-control m-select2 select2-hidden-accessible">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- acquirente -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Acquirente
                                </label>
                                <div class="col-lg-8">
                                    <div class="m-select2 m-select2--pill">
                                        <select data-bind="options: Acquirenti, optionsValue: 'Id', value: AcquirenteSelezionato, optionsText: 'RagioneSociale', select2: {allowClear: true}" name="param" data-placeholder="Seleziona acquirente" tabindex="-1" aria-hidden="true" class="form-control m-select2 select2-hidden-accessible">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- destinatario -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Destinatario
                                </label>
                                <div class="col-lg-8">
                                    <div class="m-select2 m-select2--pill">
                                        <select data-bind="options: Destinatari, optionsValue: 'Id', value: DestinatarioSelezionato, optionsText: 'RagioneSociale', select2: {allowClear: true}" name="param" data-placeholder="Seleziona destinatario" tabindex="-1" aria-hidden="true" class="form-control m-select2 select2-hidden-accessible">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- laboratorio analisi -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Laboratorio analisi
                                </label>
                                <div class="col-lg-8">
                                    <select data-bind="options: LaboratoriAnalisi, optionsValue: 'Id', value: LaboratorioAnalisiSelezionato, optionsText: 'Descrizione', select2: {allowClear: true}" name="param" placeholder="Seleziona laboratorio analisi" tabindex="-1" aria-hidden="true" class="form-control m-select2 select2-hidden-accessible">
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                            <!-- seriale laboratorio -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Seriale laboratorio
                                </label>
                                <div class="col-lg-8">
                                    <input data-bind="value: SerialeLaboratorio" type="text" class="form-control m-input" placeholder="Seleziona seriale laboratorio">
                                </div>
                            </div>

                            <!-- scomparto -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Scomparto
                                </label>
                                <div class="col-lg-8">
                                    <input data-bind="value: Scomparto" type="number" class="form-control m-input" placeholder="Seleziona scomparto">
                                </div>
                            </div>

                            <!-- lotto di consegna -->
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    Lotto di consegna
                                </label>
                                <div class="col-lg-8">
                                    <input data-bind="value: LottoConsegna" type="text" class="form-control m-input" placeholder="Seleziona lotto di consegna">
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- bottoni -->
                    <div class="modal-footer">
                        <button type="button" class="btn m-btn--pill btn-warning" data-dismiss="modal">
                            Elimina
                        </button>
    <button data-bind="click: onAnnullaSalvaPrelievo_Clicked" type="button" class="btn m-btn--pill btn-info" data-dismiss="modal">
        Annulla
    </button>
    <button data-bind="click: onSalvaAllevamenti_Clicked" type="button" class="btn m-btn--pill btn-success">
        Salva
    </button>
                    </div>
                </div>

            </div>
        </div>
    </div>*@

<!-- pannello gestione prelievi del latte -->
@*<div class="col-lg-12" id="detail-panel">

        <div class="m-portlet mt-4">

            <!-- header pannello ricerca prelievi del latte -->
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Gestione prelievi del latte
                        </h3>
                    </div>
                </div>
            </div>

            <!-- inizio form per ricerca dei prelievi -->
            <div class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                <div class="m-portlet__body mt-4">

                    <!-- dropdown ragione sociale -->
                    <div class="form-group m-form__group row">
                        <label class="col-lg-4 col-form-label">
                            Ragione sociale:
                        </label>
                        <div class="col-lg-4">
                            <div class="m-select2 m-select2--pill">
                                <select id="allevatori" class="form-control m-select2 select2-hidden-accessible" data-bind="options: RagioniSociali, optionsValue: 'Id', value: IdRagioneSociale, optionsText: 'RagioneSociale', optionsCaption: '', select2: {allowClear: true}" name="param" data-placeholder="Seleziona ragione sociale" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- selezione per il range delle date -->
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-4 col-sm-12">
                            Visualizza i prelievi nel periodo
                        </label>
                        <div class="col-lg-4 col-md-9 col-sm-12">
                            <div class="input-daterange input-group date-picker">
                                <input type="text" class="form-control m-input" name="start" placeholder="Dal" data-bind="value: DataDal">
                                <span class="input-group-addon">
                                    <i class="la la-ellipsis-h"></i>
                                </span>
                                <input type="text" class="form-control" name="end" placeholder="Al" data-bind="value: DataAl">
                            </div>
                        </div>
                    </div>

                    <!-- bottoni -->
                    <div class="form-group m-form__group row">
                        <label class="col-lg-4"></label>
                        <div class="col-lg-3">
                            <div class="m-portlet__head-tools">
                                <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                                    <li class="nav-item m-tabs__item">
                                        <button data-bind="click: onAnnullaSelezioni_Clicked" class="btn m-btn--pill btn-warning">Annulla selezioni</button>
                                    </li>
                                    <li class="nav-item m-tabs__item">
                                        <button data-bind="click: onCerca_Clicked" class="btn m-btn--pill btn-info">Cerca</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- tabella dei prelievi  visibile dopo aver effettuato la ricerca-->
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <!-- Portlet Caption -->
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            <span data-bind="visible: TextRagioneSociale, text: 'Prelievo di ' + TextRagioneSociale()"></span>
                        </h3>
                    </div>
                </div>
                <!-- Portlet Tools -->
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a data-bind="click: onInserisciManualmente_Clicked" class="btn m-btn--pill btn-info" href="#modale-dettaglio-prelievo-latte">Inserisci manualmente un prelievo de latte</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <!--begin: Datatable -->
                <div class="m_datatable"></div>
                <!--end: Datatable -->
            </div>
        </div>

    </div>*@


@*<script type="text/javascript">

        var viewModel = null;

        jQuery(document).ready(function () {

            viewModel = {

                RagioniSociali: ko.observableArray(),

                // datepicker dal - al
                DataDal: ko.observable('@DateTime.Today.AddDays(-1).ToString("dd-MM-yyyy")'),
                DataAl: ko.observable('@DateTime.Today.ToString("dd-MM-yyyy")'),

                // data e ora prelievo
                DataPrelievo: ko.observable(),
                OraPrelievo: ko.observable(),

                // data e ora ultima mungitura
                DataUltimaMungitura: ko.observable(),
                OraUltimaMungitura: ko.observable(),

                // data e ora consegna
                DataConsegna: ko.observable(),
                OraConsegna: ko.observable(),

                NumeroMungiture: ko.observable(),
                QuantitaMungitura: ko.observable(),
                TemperaturaMungitura: ko.observable(),

                // trasportatori
                Trasportatori: ko.observableArray(),
                TrasportatoreSelezionato: ko.observable(),

                // acquirenti
                Acquirenti: ko.observableArray(),
                AcquirenteSelezionato: ko.observable(),

                // destinatari
                Destinatari: ko.observableArray(),
                DestinatarioSelezionato: ko.observable(),

                // laboratori analisi
                LaboratoriAnalisi: ko.observableArray(),
                LaboratorioAnalisiSelezionato: ko.observable(),

                SerialeLaboratorio: ko.observable(),
                Scomparto: ko.observable(),
                LottoConsegna: ko.observable(),

                IdPrelievo: ko.observable(),
                IdRagioneSociale: ko.observable(''),
                TextRagioneSociale: ko.observable()

            };

            // Annulla selezioni click
            viewModel.onAnnullaSelezioni_Clicked = function (e) {
                viewModel.IdRagioneSociale('');
                viewModel.DataDal('');
                viewModel.DataAl('');
            }

            // Annulla modale prelievo
            viewModel.onAnnullaSalvaPrelievo_Clicked = function () {
                window.location.hash = '';
            }

            // Cerca click
            viewModel.onCerca_Clicked = function (e) {
                bindTable();
            }

            // Salva prelievo
            viewModel.onSalvaAllevamenti_Clicked = function (e) {

                window.location.hash = "";

                var model = {
                    Id: viewModel.IdPrelievo(),
                    IdAllevamento: viewModel.IdRagioneSociale(),
                    IdDestinatario: viewModel.DestinatarioSelezionato(),
                    IdAcquirente: viewModel.AcquirenteSelezionato(),
                    IdTrasportatore: viewModel.TrasportatoreSelezionato(),
                    IdLabAnalisi: viewModel.LaboratorioAnalisiSelezionato(),
                    DataPrelievoStr: viewModel.DataPrelievo(),
                    DataConsegna: viewModel.DataConsegna(),
                    DataUltimaMungitura: viewModel.DataUltimaMungitura(),
                    Quantita: viewModel.QuantitaMungitura(),
                    Temperatura: viewModel.TemperaturaMungitura(),
                    NumeroMungiture: viewModel.NumeroMungiture(),
                    Scomparto: viewModel.Scomparto(),
                    LottoConsegna: viewModel.LottoConsegna(),
                    SerialeLabAnalisi: viewModel.SerialeLaboratorio()
                };

                $.ajax({
                    type: "POST",
                    url: apiUrl + "prelieviLatte/Save",
                    data: model,
                    dataType: 'json',
                    success: function (result) {

                        bindTable();

                        $('#modale-dettaglio-prelievo-latte').modal('hide');
                        $('#save-dialog-panel').modal('show');
                    },
                    error: function (result) {
                        $('#modale-dettaglio-prelievo-latte').modal('hide');
                        alert('Si è verificato un errore durante il salvataggio.');
                    }
                });

            };

            // Apertura modale inserimento nuovo prelievo
            viewModel.onInserisciManualmente_Clicked = function () {

                // data e ora prelievo
                viewModel.DataPrelievo('');
                viewModel.OraPrelievo('');

                // data e ora ultima mungitura
                viewModel.DataUltimaMungitura('');
                viewModel.OraUltimaMungitura('');

                // data e ora consegna
                viewModel.DataConsegna('');
                viewModel.OraConsegna('');

                viewModel.NumeroMungiture();
                viewModel.QuantitaMungitura();
                viewModel.TemperaturaMungitura();

                // trasportatori
                viewModel.TrasportatoreSelezionato('');

                // acquirenti
                viewModel.AcquirenteSelezionato('');

                // destinatari
                viewModel.DestinatarioSelezionato('');

                // laboratori analisi
                viewModel.LaboratorioAnalisiSelezionato('');

                viewModel.SerialeLaboratorio('');
                viewModel.Scomparto('');
                viewModel.LottoConsegna('');

                viewModel.IdPrelievo(0);

                $('#modale-dettaglio-prelievo-latte').modal('show');
            }

            // Gestione cambiamento ragione sociale
            viewModel.IdRagioneSociale.subscribe(function (item) {
                viewModel.TextRagioneSociale($("#allevatori option:selected").text());
            });

            ko.applyBindings(viewModel);

            bindRagioneSociale();
            bindAcquirenti();
            bindDestinatari();
            bindLaboratoriAnalisi();
            bindTrasportatori();

            // caricamento tabella prelievi latte
            function bindTable() {

                // tabella dei prelievi
                var datatable = $('.m_datatable').mDatatable({

                    // datasource definition
                    data: {
                        type: 'remote',
                        source: apiUrl + 'PrelieviLatte/Search?idAllevamento=' + viewModel.IdRagioneSociale() + '&dal=' + viewModel.DataDal() + '&al=' + viewModel.DataAl(),
                        pageSize: 10,
                        saveState: {
                            cookie: true,
                            webstorage: true
                        },
                    },

                    // layout definition
                    layout: {
                        theme: 'default', // datatable theme
                        class: '',        // custom wrapper class
                        scroll: false,    // enable/disable datatable scroll both horizontal and vertical when needed.
                        footer: false,    // display/hide footer
                    },

                    translate: {
                        records: {
                            processing: 'Caricamento in corso...',
                            noRecords: 'Nessun record trovato'
                        },
                        toolbar: {
                            pagination: {
                                items: {
                                    default: {
                                        first: 'Prima',
                                        prev: 'Precedente',
                                        next: 'Successiva',
                                        last: 'Ultima',
                                        more: 'Più pagine',
                                        input: 'Numero pagina',
                                        select: 'Seleziona dimensione pagine'
                                    },
                                    info: 'Visualizzato {{start}} - {{end}} di {{total}} records'
                                }
                            }
                        }
                    },

                    // column sorting
                    sortable: true,

                    // column based filtering
                    filterable: true,

                    pagination: true,

                    // columns definition
                    columns: [{
                        field: "Id",
                        title: "#",
                        sortable: false,
                        width: 60,
                        selector: false,
                        textAlign: 'center',
                    }, {
                        field: "DataPrelievoStr",
                        title: "Data prelievo",
                        width: 150,
                    }, {
                        field: "DataConsegnaStr",
                        title: "Data consegna",
                        width: 150,
                    }, {
                        field: "Quantita",
                        title: "Quantità in Kg",
                    }, {
                        field: "Azioni",
                        title: "Azioni",
                        width: 150,
                        template: function (row) {
                            return '<a href="#idPrelievo=' + row.Id + '" class="m-badge m-badge--primary m-badge--wide" title="Seleziona">Seleziona</a>';
                        },

                    }]
                });


            }

            // bind dropdown Ragione Sociale
            function bindRagioneSociale(idRagioneSociale) {
                $.getJSON(apiUrl + "Allevatori", function (result) {
                    viewModel.RagioniSociali(result);
                    viewModel.IdRagioneSociale(idRagioneSociale);
                });
            }

            // bind dropdown Trasportatori
            function bindTrasportatori() {
                $.getJSON(apiUrl + "Trasportatori", function (result) {
                    viewModel.Trasportatori(result);
                });
            }

            // bind dropdown Acquirenti
            function bindAcquirenti() {
                $.getJSON(apiUrl + "Acquirenti", function (result) {
                    viewModel.Acquirenti(result);
                });
            }

            // bind dropdown Destinatari
            function bindDestinatari() {
                $.getJSON(apiUrl + "Destinatari", function (result) {
                    viewModel.Destinatari(result);
                });
            }

            // bind dropdown Laboratori analisi
            function bindLaboratoriAnalisi() {
                $.getJSON(apiUrl + "LaboratoriAnalisi", function (result) {
                    viewModel.LaboratoriAnalisi(result);
                });
            }

            // chiamata per visualizzare il datapicker
            $('.date-picker').datepicker({
                weekStart: 1,
                language: 'it',
                autoclose: true
            });

            //// chiamata per visualizzare il timepicker
            //$('.timepicker').timepicker();

            // evento selezione prelievo\
            $(window).on('hashchange', function (e) {

                viewModel.IdPrelievo(getIdPrelievo(window.location));

                if (viewModel.IdPrelievo() != '') {

                    $.getJSON(apiUrl + 'PrelieviLatte/Details?id=' + viewModel.IdPrelievo(), function (result) {

                        // data e ora prelievo
                        viewModel.DataPrelievo(result.DataPrelievoStr);
                        viewModel.OraPrelievo(result.OraPrelievo);

                        // data e ora ultima mungitura
                        viewModel.DataUltimaMungitura(result.DataUltimaMungituraStr);
                        viewModel.OraUltimaMungitura(result.OraUltimaMungitura);

                        // data e ora consegna
                        viewModel.DataConsegna(result.DataConsegnaStr);
                        viewModel.OraConsegna(result.OraConsegna);

                        viewModel.NumeroMungiture(result.NumeroMungiture);
                        viewModel.QuantitaMungitura(result.Quantita);
                        viewModel.TemperaturaMungitura(result.Temperatura);

                        // trasportatori
                        viewModel.TrasportatoreSelezionato(result.IdTrasportatore);

                        // acquirenti
                        viewModel.AcquirenteSelezionato(result.IdAcquirente);

                        // destinatari
                        viewModel.DestinatarioSelezionato(result.IdDestinatario);

                        // laboratori analisi
                        viewModel.LaboratorioAnalisiSelezionato(result.IdLabAnalisi);

                        viewModel.SerialeLaboratorio(result.SerialeLabAnalisi);
                        viewModel.Scomparto(result.Scomparto);
                        viewModel.LottoConsegna(result.LottoConsegna);

                        $('#modale-dettaglio-prelievo-latte').modal('show');

                    });

                }


            });

            // parse della location hash per estrarre l'idPrelievo
            function getIdPrelievo(location) {

                var lochash = location.hash.substr(1),
                    mylocation = lochash.substr(lochash.indexOf('idPrelievo='))
                        .split('&')[0]
                        .split('=')[1];

                if (mylocation)
                    return mylocation;
                else
                    return '';

            }


        });

    </script>*@