@using LatteMarche.WebApi.Models
@using LatteMarche.WebApi.Helpers

<!-- Breadcrumb -->
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Prelievi latte" });
    }
    @Html.Partial("_Breadcrumb", bm)
}

<!-- Css -->
@section Css
{
    @if (EnvHelper.IsProd)
    {
        <link rel="stylesheet" href="@Url.Content("~/dist/prod/css/prelieviLatteIndex.css")" />
    }
}

<input hidden id="idProfilo" value="@Model" />
<div id="app">
</div>

<!-- Js -->
@section Js
{
    @{
        var version = System.Configuration.ConfigurationManager.AppSettings["version"];
        var folder = EnvHelper.IsProd ? "prod/js" : "dev";
        var url = "~/dist/" + folder + "/prelieviLatteIndex.js";

        <script src="@Url.Content(url)?ver=@version"></script>
    }
}