@using LatteMarche.WebApi.Models
@using LatteMarche.WebApi.Helpers

@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Dashboard" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<!-- Css -->
@section Css
{
    @if (EnvHelper.IsProd)
    {
        <link rel="stylesheet" href="@Url.Content("~/dist/prod/css/dashboardIndex.css")" />
    }
}

<script>
    localStorage.setItem('jwt', '@Model');
</script>

<div id="app"></div>

<!-- Js -->
@section Js
{
    @{
        var version = System.Configuration.ConfigurationManager.AppSettings["version"];
        var folder = EnvHelper.IsProd ? "prod/js" : "dev";
        var url = "~/dist/" + folder + "/dashboardIndex.js";

        <script src="@Url.Content(url)?ver=@version"></script>
    }
}





