@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
    }
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-dark text-white">
                <img class="card-img" src="~/Content/img/hero-cow.jpeg" alt="Card image">
                <div class="card-img-overlay">
                    <h1>Latte Marche</h1>
                    <h2>Società Cooperativa Agricola</h2>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Footer")



