@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
    }
}

<div class="container home--ctr pt-4">
    <div class="row">
        <div class="col-12">
            <h1>Latte Marche</h1>
            <h2>Società Cooperativa Agricola</h2>
            <div class="home--bg--img"></div>
        </div>
    </div>
</div>

<script>
    localStorage.setItem('jwt', '@Model');
</script>

@Html.Partial("_Footer")



