<div class="container-fluid gocce-bg d-table">
    <div class="d-table-cell align-middle">
        <h1 class="display-1">Latte Marche</h1>
        <h2 class="text-white">SOC. COOPERATIVA AGRICOLA</h2>
    </div>
</div>



