<!-- Pannello di accesso non autorizzto -->

<div class="container mt-4">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Si tenta di fare i furbi eh? &#128515;</h4>
        <p>Non sei autorizzato ad accedere a questi elementi.</p>
        <hr>
        <p class="mb-0">Accedi all'Area riservata per visualizzare i contenuti.</p>
    </div>
</div>