<!-- Pannello di accesso non autorizzto -->
<div class="container alert alert-danger mt-3" role="alert">
    <strong>Accesso non autorizzato alla risorsa richiesta!</strong>
    <hr />
    <p>Verifica di essere in possesso delle adeguate credenziali per accedere ai contenuti richiesti.</p>
</div>