<!-- Pannello di visualizzazione 404 -->
<div class="portlet light hide>
    <div class="portlet-body">
        <div class="row margin-left-20 margin-right-20 margin-bottom-40 margin-top-40">
            <h2>Accesso non autorizzato</h2>
        </div>
    </div>
</div>