<!-- Pannello di accesso non autorizzto -->
<div class="container m-alert m-alert--icon alert alert-danger mt-4" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-danger"></i>
    </div>
    <div class="m-alert__text">
        <strong>Accesso non autorizzato alla risorsa richiesta!</strong>
        <hr />
        <p>Verifica di essere in possesso delle adeguate credenziali per accedere ai contenuti richiesti.</p>
    </div>
</div>