

<div class="col-lg-12" style="margin-top:1em">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <!-- Portlet Caption -->
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Copertura Territoriale dei Trasportatori
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label class="col-lg-3"></label>
                <label class="col-lg-2 col-form-label">
                    Trasportatore:
                </label>
                <div class="col-lg-4">
                    <div class="btn-group bootstrap-select form-control m-bootstrap-select m-bootstrap-select--air m-bootstrap-select--pill m_">
                        <div class="dropdown-menu open" role="combobox" x-placement="bottom-start" style="max-height: 295.828px; overflow: hidden; min-height: 0px; position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;"></div>
                        <select class="form-control m-select2" data-bind="options: Trasportatori, value: TrasportatoreSelezionato, optionsValue: 'Value', optionsText: 'Text', optionsCaption: '', select2: {allowClear: true}" name="param" data-placeholder="Seleziona il Trasportatore"></select>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-3"></label>
                <label class="col-lg-2 col-form-label">
                    Giro degli allevamenti:
                </label>
                <div class="col-lg-4">
                    <div class="btn-group bootstrap-select form-control m-bootstrap-select m-bootstrap-select--air m-bootstrap-select--pill m_">
                        <div class="dropdown-menu open" role="combobox" x-placement="bottom-start" style="max-height: 295.828px; overflow: hidden; min-height: 0px; position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;"></div>
                        <select class="form-control m-select2" data-bind="options: GiroAllevamento, value: GiroAllevamentoSelezionato, optionsValue: 'Value', optionsText: 'Text', optionsCaption: '', select2: {allowClear: true}" name="param" data-placeholder="Seleziona il Giro degli Allevamenti"></select>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-5"></label>
                <div class="col-lg-3">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="btn m-btn--pill m-btn--air btn-info" href="@System.Configuration.ConfigurationManager.AppSettings["webUrl"]Utenti/New">+ Aggiungi Allevamento</a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="btn m-btn--pill m-btn--air btn-warning" href="@System.Configuration.ConfigurationManager.AppSettings["webUrl"]Utenti/New">Modifica Allevamento</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <!-- Portlet Caption -->
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Dettaglio trasportatore
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <label class="col-lg-12 col-form-label">
                        <span style="font-weight:600;font-size:22px" data-bind="text:Trasportatore_Nome()"></span>
                    </label>
                    <label class="col-lg-12 col-form-label">
                        <span style="font-weight:600;font-size:20px" data-bind="text:Trasportatore_Indirizzo()"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var viewModel = null;

    jQuery(document).ready(function () {

        viewModel = {
            Trasportatori: ko.observableArray([{ Value: 1, Text: 'Baleani' }, { Value: 2, Text: 'Fattorie Marchigiane Cons. Coop.' }]),
            TrasportatoreSelezionato: ko.observable(),

            Trasportatore_Nome: ko.observable(''),
            Trasportatore_Indirizzo: ko.observable(''),

            GiroAllevamento: ko.observableArray([{ Value: 1, Text: 'Morrovalle' }, { Value: 2, Text: 'Sibilla' }, { Value: 3, Text: 'Montecarotto' }, { Value: 4, Text: 'Pecora 1' }]),
            GiroAllevamentoSelezionato: ko.observable(),

            Allevamento: ko.observableArray([{ Value: 1, Text: 'Pioraco' }, { Value: 2, Text: 'Macerata' }]),
            AllevamentoSelezionato: ko.observable()
            
        };

        // in base al Trasportatore selezionato cerca i rispettivi Giri degli allevamenti
        //function GetProvincia(idComune) {
        //    $.getJSON(apiUrl + "comuni/details?id=" + idComune, function (result) {
        //        if (result != null) {
        //            viewModel.ProvinciaSelezionata(result.Provincia);
        //            BindComuni(result.Provincia, idComune);
        //        }
        //    });

        // selezione del Trasportatore
        viewModel.TrasportatoreSelezionato.subscribe(function (item) {

            // chiamata json per il dettaglio
            if (item == 1) {
                viewModel.Trasportatore_Nome("Augusto Baleani");
                viewModel.Trasportatore_Indirizzo("Via Chiaravallese 81 - S. Paterniano OSIMO (AN)");
            } else {
                viewModel.Trasportatore_Nome("Iozzi Fattorie Marchigiane Cons.Coop.");
                viewModel.Trasportatore_Indirizzo("Via Cerbara - Montemaggiore al Metauro (PU)");
            }

        });

        ko.applyBindings(viewModel);

    });

</script>
