@using LatteMarche.WebApi.Models

<!-- Pannello conferma avvenuto salvataggio -->
@Html.Partial("_NotificationDialog", new DialogViewModel()
{
    Id = "save-dialog-panel",
    Title = "Conferma salvataggio",
    Message = "Il giro è stato salvato correttamente"
})

<!-- Modale per selezione priorità -->
<div class="modal fade" id="modale-priorita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- header modale -->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    L'indice di priorità indica il percorso seguito dal trasportatore. Inserire una sequenza numerica dei soli allevamenti segnati del check.
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>

            <div class="modal-body">
                <div class="m-scrollable mCustomScrollbar _mCS_3 mCS-autoHide" data-scrollbar-shown="true" data-scrollable="true" data-max-height="600" style="max-height: 600px; height: 600px; position: relative; overflow: visible;">
                    <div id="mCSB_3" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;">

                        <div class="m-form__group form-group row">
                            <span class="m-switch m-switch--outline m-switch--icon m-switch--info col-1">
                                <label>
                                    <input type="checkbox" checked="checked" name="">
                                    <span></span>
                                </label>
                            </span>
                            <div class="col-5">
                                <input type="text" data-bind="" class="form-control m-input m-input--pill m-input--air" placeholder="Priorità" style="font-weight:600">
                                <div class="m-widget5__content" style="margin:10px">
                                    <div class="m-list-timeline">
                                        <div class="m-list-timeline__items">
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Ragione Sociale:</strong><br />Agricola di Accoglienza
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Allevatore:</strong><br />Ascari Achille
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Indirizzo Allevamento:</strong><br />San Cristoforo 26 AMANDOLA
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="m-switch m-switch--outline m-switch--icon m-switch--info col-1">
                                <label>
                                    <input type="checkbox" checked="checked" name="">
                                    <span></span>
                                </label>
                            </span>
                            <div class="col-5">
                                <input type="text" data-bind="" class="form-control m-input m-input--pill m-input--air" placeholder="Priorità" style="font-weight:600">
                                <div class="m-widget5__content" style="margin:10px">
                                    <div class="m-list-timeline">
                                        <div class="m-list-timeline__items">
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Ragione Sociale:</strong><br />Agricola di Accoglienza
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Allevatore:</strong><br />Ascari Achille
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Indirizzo Allevamento:</strong><br />San Cristoforo 26 AMANDOLA
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn m-btn--pill m-btn--air btn-outline-warning" data-dismiss="modal">
                    Ritorna in Dashboard
                </button>
                <button type="button" class="btn m-btn--pill m-btn--air btn-info">
                    Salva
                </button>
            </div>
        </div>

    </div>
</div>

<!-- Modale aggiungi giro -->
<div class="modal fade" id="modale-nuovo-giro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Dettaglio giro
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">

                <!-- Codice Giro -->
                <div class="form-group m-form__group row">
                    <label class="col-lg-2"></label>
                    <label class="col-lg-2 col-form-label">
                        Codice:
                    </label>
                    <div class="col-lg-4">
                        <div class="m-select2 m-select2--air m-select2--pill">
                            <input type="text" data-bind="value: NuovoGiro_Codice" class="form-control m-input m-input--pill m-input--air" placeholder="Codice">
                        </div>
                    </div>
                </div>

                <!-- Denominazione -->
                <div class="form-group m-form__group row">
                    <label class="col-lg-2"></label>
                    <label class="col-lg-2 col-form-label">
                        Denominazione:
                    </label>
                    <div class="col-lg-4">
                        <input type="text" data-bind="value: NuovoGiro_Denominazione" class="form-control m-input m-input--pill m-input--air" placeholder="Denominazione">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn m-btn--pill m-btn--air btn-info" data-dismiss="modal">
                    Annulla
                </button>
                <button data-bind="click: NuovoGiro_Clicked" type="button" class="btn m-btn--pill m-btn--air btn-success">
                    Salva
                </button>
            </div>
        </div>

    </div>
</div>

<!-- Modale modifica giro -->
<div class="modal fade" id="modale-dettaglio-giro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Dettaglio giro
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">

                <!-- Codice Giro -->
                <div class="form-group m-form__group row">
                    <label class="col-lg-2"></label>
                    <label class="col-lg-2 col-form-label">
                        Codice:
                    </label>
                    <div class="col-lg-4">
                        <div class="m-select2 m-select2--air m-select2--pill">
                            <input type="text" data-bind="value: DettaglioGiro_Codice" class="form-control m-input m-input--pill m-input--air" placeholder="Codice">
                        </div>
                    </div>
                </div>

                <!-- Denominazione -->
                <div class="form-group m-form__group row">
                    <label class="col-lg-2"></label>
                    <label class="col-lg-2 col-form-label">
                        Denominazione:
                    </label>
                    <div class="col-lg-4">
                        <input type="text" data-bind="value: DettaglioGiro_Denominazione" class="form-control m-input m-input--pill m-input--air" placeholder="Denominazione">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn m-btn--pill m-btn--air btn-info" data-dismiss="modal">
                    Annulla
                </button>
                <button data-bind="click: SalvaGiro_Clicked" type="button" class="btn m-btn--pill m-btn--air btn-success">
                    Salva
                </button>
            </div>
        </div>

    </div>
</div>


<div class="col-lg-12" style="margin-top:1em">

    <!-- Copertura Territoriale dei Trasportatori -->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Copertura Territoriale dei Trasportatori
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-portlet__body">

            <!-- Trasportatore -->
            <div class="form-group m-form__group row">
                <label class="col-lg-2"></label>
                <label class="col-lg-2 col-form-label">
                    Trasportatore:
                </label>
                <div class="col-lg-4">
                    <div class="m-select2 m-select2--air m-select2--pill">
                        <select id="trasportatori" data-bind="options: Trasportatori, optionsValue: 'Id', value: TrasportatoreSelezionato, optionsText: 'Cognome', select2: {allowClear: true}" id="m_select2_12_3" name="param" data-placeholder="Selezione trasportatore" tabindex="-1" aria-hidden="true" class="form-control m-select2 select2-hidden-accessible">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Giri allevamento -->
            <div class="form-group m-form__group row">
                <label class="col-lg-2"></label>
                <label class="col-lg-2 col-form-label">
                    Giro degli allevamenti:
                </label>
                <div class="col-lg-4">
                    <div class="btn-group bootstrap-select form-control m-bootstrap-select m-bootstrap-select--air m-bootstrap-select--pill m_">
                        <div class="dropdown-menu open" role="combobox" x-placement="bottom-start" style="max-height: 295.828px; overflow: hidden; min-height: 0px; position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;"></div>
                        <select data-bind="options: GiriAllevamento, value: GiroAllevamentoSelezionato, optionsValue: 'Id', optionsText: 'Denominazione', optionsCaption: '', select2: {allowClear: true}" name="param" data-placeholder="Seleziona il Giro degli Allevamenti" class="form-control m-select2"></select>
                    </div>
                </div>
            </div>

            <!-- Bottoni -->
            <div class="form-group m-form__group row">
                <label class="col-lg-4"></label>
                <div class="col-lg-3">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <button data-bind="click: AggiungiGiro_Clicked" class="btn m-btn--pill m-btn--air btn-info">+ Aggiungi Giro</button>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <button data-bind="click: ModificaGiro_Clicked" class="btn m-btn--pill m-btn--air btn-warning">Modifica Giro</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Carica allevamenti -->
            <div class="form-group m-form__group row">
                <label class="col-lg-4"></label>
                <label class="col-lg-4 col-form-label">
                    <button data-bind="click: CaricaAllevamenti_Clicked" type="button" class="btn m-btn--pill m-btn--air btn-info btn-block" data-toggle="modal">
                        Carica gli Allevamenti in cui si reca il Trasportatore
                    </button>
                </label>
            </div>

        </div>
    </div>




</div>


<script type="text/javascript">

    var viewModel = null;
    var giroSelezionato = null;

    jQuery(document).ready(function () {

        viewModel = {

            // trasportatori
            Trasportatori: ko.observableArray(),
            TrasportatoreSelezionato: ko.observable(),

            // giri
            GiriAllevamento: ko.observableArray(),
            GiroAllevamentoSelezionato: ko.observable(),

            // aggiungi giro
            NuovoGiro_Codice: ko.observable(),
            NuovoGiro_Denominazione: ko.observable(),

            // modifica giro
            DettaglioGiro_Codice: ko.observable(),
            DettaglioGiro_Denominazione: ko.observable(),

            // dettaglio trasportatore
            Trasportatore_Nome: ko.observable(''),
            Trasportatore_Indirizzo: ko.observable(''),


        };

        // evento click bottone 'Aggiungi Giro'
        viewModel.AggiungiGiro_Clicked = function () {

            $('#modale-nuovo-giro').modal('show');
            viewModel.NuovoGiro_Codice('');
            viewModel.NuovoGiro_Denominazione('');

        };

        // evento click bottone 'Modifica Giro'
        viewModel.ModificaGiro_Clicked = function () {

            $.getJSON(apiUrl + 'Giri/Details?id=' + viewModel.GiroAllevamentoSelezionato(), function (result) {

                giroSelezionato = result;

                viewModel.DettaglioGiro_Codice(result.CodiceGiro);
                viewModel.DettaglioGiro_Denominazione(result.Denominazione);

                $('#modale-dettaglio-giro').modal('show');

            });
        }

        // evento click botton 'Salva Giro' (popup aggiungi giro)
        viewModel.NuovoGiro_Clicked = function () {

            $('#modale-nuovo-giro').modal('hide');

            $('#waiter').modal('show');
            var model = {
                CodiceGiro: viewModel.NuovoGiro_Codice(),
                Denominazione: viewModel.NuovoGiro_Denominazione(),
                IdTrasportatore: viewModel.TrasportatoreSelezionato()
            };

            $.ajax({
                type: 'POST',
                url: apiUrl + "giri/create",
                data: model,
                dataType: 'json',
                success: function (result) {
                    $('#waiter').modal('hide');
                    $('#save-dialog-panel').modal('show');
                    BindTrasportatore(viewModel.TrasportatoreSelezionato());
                },
                error: function (result) {
                    $('#waiter').modal('hide');
                    showError('Si è verificato un errore durante il salvataggio.');
                }
            });

        }

        // evento click bottone 'Salva Giro (popup dettaglio)'
        viewModel.SalvaGiro_Clicked = function () {

            $('#modale-dettaglio-giro').modal('hide');

            viewModel.GiroAllevamentoSelezionato('');

            $('#waiter').modal('show');
            giroSelezionato.CodiceGiro = viewModel.DettaglioGiro_Codice();
            giroSelezionato.Denominazione = viewModel.DettaglioGiro_Denominazione();

            $.ajax({
                type: "PUT",
                url: apiUrl + "giri/update",
                data: giroSelezionato,
                dataType: 'json',
                success: function (result) {
                    $('#waiter').modal('hide');
                    $('#save-dialog-panel').modal('show');
                    BindTrasportatore(viewModel.TrasportatoreSelezionato(), giroSelezionato.Id);
                },
                error: function (result) {
                    $('#waiter').modal('hide');
                    showError('Si è verificato un errore durante il salvataggio.');
                }
            });

        }

        // evento click botton 'Carica allevamenti'
        viewModel.CaricaAllevamenti_Clicked = function () {

            $('#modale-priorita').modal('show');

        };

        // dettaglio del trasportatore
        viewModel.TrasportatoreSelezionato.subscribe(function (item) {
            BindTrasportatore(item);
        });

        ko.applyBindings(viewModel);

        // caricamento trasportatori da api
        BindTrasportatori();


        // bind dropdown Trasportatori
        function BindTrasportatori() {

            $.getJSON(apiUrl + 'Trasportatori', function (result) {
                viewModel.Trasportatori(result);
                viewModel.TrasportatoreSelezionato(result[0].Id);
            });

        };

        // bind dropdown Giri
        function BindTrasportatore(idTrasportatore, idGiro) {

            $.getJSON(apiUrl + 'Trasportatori/details?id=' + idTrasportatore, function (result) {
                viewModel.GiriAllevamento(result.Giri);

                if (idGiro) {
                    viewModel.GiroAllevamentoSelezionato(idGiro);
                }

            });
        }

    });
</script>
