
<!-- Modale per selezione priorità -->
<div class="modal fade" id="modale-priorita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    L'indice di priorità indica il percorso seguito dal trasportatore. Inserire una sequenza numerica dei soli allevamenti segnati del check.
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-scrollable mCustomScrollbar _mCS_3 mCS-autoHide" data-scrollbar-shown="true" data-scrollable="true" data-max-height="600" style="max-height: 600px; height: 600px; position: relative; overflow: visible;">
                    <div id="mCSB_3" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;">
                        <div id="mCSB_3_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                            <div class="m-form__group form-group row">
                                <span class="m-switch m-switch--outline m-switch--icon m-switch--info col-1">
                                    <label>
                                        <input type="checkbox" checked="checked" name="">
                                        <span></span>
                                    </label>
                                </span>
                                <div class="col-5">
                                    <input type="text" data-bind="" class="form-control m-input m-input--pill m-input--air" placeholder="Priorità" style="font-weight:600">
                                    <div class="m-widget5__content" style="margin:10px">
                                        <div class="m-list-timeline">
                                            <div class="m-list-timeline__items">
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge"></span>
                                                    <span class="m-list-timeline__text">
                                                        <strong>Ragione Sociale:</strong><br />Agricola di Accoglienza
                                                    </span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge"></span>
                                                    <span class="m-list-timeline__text">
                                                        <strong>Allevatore:</strong><br />Ascari Achille
                                                    </span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge"></span>
                                                    <span class="m-list-timeline__text">
                                                        <strong>Indirizzo Allevamento:</strong><br />San Cristoforo 26 AMANDOLA
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="m-switch m-switch--outline m-switch--icon m-switch--info col-1">
                                    <label>
                                        <input type="checkbox" checked="checked" name="">
                                        <span></span>
                                    </label>
                                </span>
                                <div class="col-5">
                                    <input type="text" data-bind="" class="form-control m-input m-input--pill m-input--air" placeholder="Priorità" style="font-weight:600">
                                    <div class="m-widget5__content" style="margin:10px">
                                        <div class="m-list-timeline">
                                            <div class="m-list-timeline__items">
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge"></span>
                                                    <span class="m-list-timeline__text">
                                                        <strong>Ragione Sociale:</strong><br />Agricola di Accoglienza
                                                    </span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge"></span>
                                                    <span class="m-list-timeline__text">
                                                        <strong>Allevatore:</strong><br />Ascari Achille
                                                    </span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge"></span>
                                                    <span class="m-list-timeline__text">
                                                        <strong>Indirizzo Allevamento:</strong><br />San Cristoforo 26 AMANDOLA
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-form__group form-group row">
                            <span class="m-switch m-switch--outline m-switch--icon m-switch--info col-1">
                                <label>
                                    <input type="checkbox" checked="checked" name="">
                                    <span></span>
                                </label>
                            </span>
                            <div class="col-5">
                                <input type="text" data-bind="" class="form-control m-input m-input--pill m-input--air" placeholder="Priorità" style="font-weight:600">
                                <div class="m-widget5__content" style="margin:10px">
                                    <div class="m-list-timeline">
                                        <div class="m-list-timeline__items">
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Ragione Sociale:</strong><br />Agricola di Accoglienza
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Allevatore:</strong><br />Ascari Achille
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Indirizzo Allevamento:</strong><br />San Cristoforo 26 AMANDOLA
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="m-switch m-switch--outline m-switch--icon m-switch--info col-1">
                                <label>
                                    <input type="checkbox" checked="checked" name="">
                                    <span></span>
                                </label>
                            </span>
                            <div class="col-5">
                                <input type="text" data-bind="" class="form-control m-input m-input--pill m-input--air" placeholder="Priorità" style="font-weight:600">
                                <div class="m-widget5__content" style="margin:10px">
                                    <div class="m-list-timeline">
                                        <div class="m-list-timeline__items">
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Ragione Sociale:</strong><br />Agricola di Accoglienza
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Allevatore:</strong><br />Ascari Achille
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Indirizzo Allevamento:</strong><br />San Cristoforo 26 AMANDOLA
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-form__group form-group row">
                            <span class="m-switch m-switch--outline m-switch--icon m-switch--info col-1">
                                <label>
                                    <input type="checkbox" checked="checked" name="">
                                    <span></span>
                                </label>
                            </span>
                            <div class="col-5">
                                <input type="text" data-bind="" class="form-control m-input m-input--pill m-input--air" placeholder="Priorità" style="font-weight:600">
                                <div class="m-widget5__content" style="margin:10px">
                                    <div class="m-list-timeline">
                                        <div class="m-list-timeline__items">
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Ragione Sociale:</strong><br />Agricola di Accoglienza
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Allevatore:</strong><br />Ascari Achille
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Indirizzo Allevamento:</strong><br />San Cristoforo 26 AMANDOLA
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="m-switch m-switch--outline m-switch--icon m-switch--info col-1">
                                <label>
                                    <input type="checkbox" checked="checked" name="">
                                    <span></span>
                                </label>
                            </span>
                            <div class="col-5">
                                <input type="text" data-bind="" class="form-control m-input m-input--pill m-input--air" placeholder="Priorità" style="font-weight:600">
                                <div class="m-widget5__content" style="margin:10px">
                                    <div class="m-list-timeline">
                                        <div class="m-list-timeline__items">
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Ragione Sociale:</strong><br />Agricola di Accoglienza
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Allevatore:</strong><br />Ascari Achille
                                                </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">
                                                    <strong>Indirizzo Allevamento:</strong><br />San Cristoforo 26 AMANDOLA
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; display: block; height: 57px; max-height: 180px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn m-btn--pill m-btn--air btn-outline-warning" data-dismiss="modal">
                    Ritorna in Dashboard
                </button>
                <button type="button" class="btn m-btn--pill m-btn--air btn-info">
                    Salva
                </button>
            </div>
        </div>

    </div>
</div>

<div class="col-lg-12" style="margin-top:1em">
    
    <!-- Copertura Territoriale dei Trasportatori -->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">            
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Copertura Territoriale dei Trasportatori
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-portlet__body">

            <!-- Trasportatore -->
            <div class="form-group m-form__group row">
                <label class="col-lg-2"></label>
                <label class="col-lg-2 col-form-label">
                    Trasportatore:
                </label>
                <div class="col-lg-4">
                    <div class="m-select2 m-select2--air m-select2--pill">
                        <select id="trasportatori" data-bind="options: Trasportatori, optionsValue: 'Id', value: TrasportatoreSelezionato, optionsText: 'Cognome', optionsCaption: '', select2: {allowClear: true}" id="m_select2_12_3" name="param" data-placeholder="Selezione trasportatore" tabindex="-1" aria-hidden="true" class="form-control m-select2 select2-hidden-accessible" >
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            
            <!-- Giri allevamento -->
            <div class="form-group m-form__group row">
                <label class="col-lg-2"></label>
                <label class="col-lg-2 col-form-label">
                    Giro degli allevamenti:
                </label>
                <div class="col-lg-4">
                    <div class="btn-group bootstrap-select form-control m-bootstrap-select m-bootstrap-select--air m-bootstrap-select--pill m_">
                        <div class="dropdown-menu open" role="combobox" x-placement="bottom-start" style="max-height: 295.828px; overflow: hidden; min-height: 0px; position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;"></div>
                        <select data-bind="options: GiriAllevamento, value: GiroAllevamentoSelezionato, optionsValue: 'Value', optionsText: 'Text', optionsCaption: '', select2: {allowClear: true}" name="param" data-placeholder="Seleziona il Giro degli Allevamenti" class="form-control m-select2" ></select>
                    </div>
                </div>
            </div>
            
            <!-- Bottoni -->
            <div class="form-group m-form__group row">
                <label class="col-lg-4"></label>
                <div class="col-lg-3">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <button data-bind="click: AggiungiGiro_Clicked" class="btn m-btn--pill m-btn--air btn-info" >+ Aggiungi Giro</button>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <button class="btn m-btn--pill m-btn--air btn-warning" >Modifica Giro</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
      
        </div>
    </div>

    <!-- INIZIO del pannello che compare nel momento in cui viene premuto il bottone "+ Aggiungi Giro" o "Modifica Giro" -->
    <div id="dettaglio-giro-allevamento" data-bind="visible: DettaglioGiroVisibile" class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Dettaglio del Giro degli Allevamenti
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-portlet__body">
            <!-- Denominazione del Giro -->
            <div class="form-group m-form__group row">
                <label class="col-lg-2"></label>
                <label class="col-lg-2 col-form-label">
                    Denominazione del Giro:
                </label>
                <div class="col-lg-4">
                    <input type="text" data-bind="value: DenominazioneGiro" class="form-control m-input m-input--pill m-input--air" placeholder="Inserisci nome giro">
                </div>
            </div>

            <!-- Codice del Giro -->
            <div class="form-group m-form__group row">
                <label class="col-lg-2"></label>
                <label class="col-lg-2 col-form-label">
                    Codice del Giro:
                </label>
                <div class="col-lg-4">
                    <input type="text" data-bind="value: CodiceGiro" class="form-control m-input m-input--pill m-input--air" placeholder="Inserisci codice giro">
                </div>
            </div>
            
            <!-- Bottoni -->
            <div class="form-group m-form__group row">
                <label class="col-lg-4"></label>
                <div class="col-lg-3">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="btn m-btn--pill m-btn--air btn-info" href="">Salva</a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="btn m-btn--pill m-btn--air btn-danger" href="">Elimina</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- FINE del pannello che compare nel momento in cui viene premuto il bottone "+ Aggiungi Giro" o "Modifica Giro" -->

    <!-- Dettaglio del trasportatore -->
    <div class="m-portlet m-portlet--mobile"  >
        <div class="m-portlet__head">
            <!-- Portlet Caption -->
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Dettaglio trasportatore
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label class="col-lg-4"></label>
                <label class="col-lg-4 col-form-label">
                    <span style="font-weight:600;font-size:22px" data-bind="text:Trasportatore_Nome() + '   ' + Trasportatore_Indirizzo()"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label class="col-lg-4"></label>
                <label class="col-lg-4 col-form-label">
                    <button type="button" class="btn m-btn--pill m-btn--air btn-info btn-block" data-toggle="modal" data-target="#modale-priorita">
                        Carica gli Allevamenti in cui si reca il Trasportatore
                    </button>
                </label>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">

    var viewModel = null;

    jQuery(document).ready(function () {

        debugger;

        viewModel = {

            Trasportatori: ko.observableArray(),
            TrasportatoreSelezionato: ko.observable(),

            GiriAllevamento: ko.observableArray(),
            GiroAllevamentoSelezionato: ko.observable(),

            DenominazioneGiro: ko.observable(),
            CodiceGiro: ko.observable(),

            Trasportatore_Nome: ko.observable(''),
            Trasportatore_Indirizzo: ko.observable(''),

            DettaglioGiroVisibile: ko.observable(false)

        };

        // evento click bottone 'Aggiungi Giro'
        viewModel.AggiungiGiro_Clicked = function () {
            console.log("aggiungi giro");
            viewModel.DettaglioGiroVisibile(true);
        };


        // dettaglio del trasportatore
        viewModel.TrasportatoreSelezionato.subscribe(function (item) {
           
            var apirUrl = 'Trasportatori/details?id=' + item;

            $.getJSON(apiUrl + "Trasportatori/details?id=" + item, function (result) {

                console.log(result);
                viewModel.Trasportatore_Nome(result.Nome);
                viewModel.Trasportatore_Indirizzo(result.Indirizzo);

            });

        });
       
        ko.applyBindings(viewModel);

        // caricamento trasportatori da api
        BindTrasportatori();

        // evento selezione trasportatore
        viewModel.TrasportatoreSelezionato.subscribe(function (item) {
            BindGiri(item);
        });

        // bind dropdown Trasportatori
        function BindTrasportatori(idTrasportatori) {

            $.getJSON(apiUrl + "Trasportatori", function (result) {
                viewModel.Trasportatori(result);
                viewModel.TrasportatoreSelezionato(idTrasportatori);
            });

        };

        // bind dropdown Giri
        function BindGiri(idTrasportatori) {

            viewModel.GiriAllevamento([{ Value: 1, Text: 'Giro 1' }, { Value: 2, Text: 'Giro 2' }]);

        };

        
   
    });
</script>
