# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
node_modules/
.vs/
TestResults/
/LatteMarche.WebApi/build/**/*.js
/LatteMarche.WebApi/.vscode

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
/LatteMarche.WebApi/Logs
/LatteMarche.WebApi/dist/ruoliIndex.js
/LatteMarche.WebApi/dist/ruoliIndex.html
/LatteMarche.WebApi/dist/prelieviLatteIndex.js
/LatteMarche.WebApi/dist/prelieviLatteIndex.html
/LatteMarche.WebApi/dist/plugins
/LatteMarche.WebApi/dist/favicon.ico
/LatteMarche.WebApi/dist/dispositiviIndex.js
/LatteMarche.WebApi/dist/dispositiviIndex.html
/LatteMarche.WebApi/dist/destinatariIndex.js
/LatteMarche.WebApi/dist/destinatariIndex.html
/LatteMarche.WebApi/dist/css
/LatteMarche.WebApi/dist/autocisterneIndex.js
/LatteMarche.WebApi/dist/autocisterneIndex.html
/LatteMarche.WebApi/dist/analisiLatteIndex.js
/LatteMarche.WebApi/dist/analisiLatteIndex.html
/LatteMarche.WebApi/dist/allevamentiIndex.js
/LatteMarche.WebApi/dist/allevamentiIndex.html
/LatteMarche.WebApi/dist/acquirentiIndex.js
/LatteMarche.WebApi/dist/acquirentiIndex.html
/LatteMarche.WebApi/dist/utentiIndex.js
/LatteMarche.WebApi/dist/utentiIndex.html
/LatteMarche.WebApi/dist/trasportatoriIndex.js
/LatteMarche.WebApi/dist/trasportatoriIndex.html
/LatteMarche.WebApi/dist/tipiLatteIndex.js
/LatteMarche.WebApi/dist/tipiLatteIndex.html
/LatteMarche.WebApi/dist/ruoliNew.js
/LatteMarche.WebApi/dist/ruoliNew.html
/LatteMarche.WebApi/dist/ruoliEdit.js
/LatteMarche.WebApi/dist/ruoliEdit.html
/LatteMarche.WebApi/dist/utentiEdit.js
/LatteMarche.WebApi/dist/utentiEdit.html
/LatteMarche.WebApi/dist/laboratoriIndex.js
/LatteMarche.WebApi/dist/laboratoriIndex.html
/LatteMarche.WebApi/dist/cessionariIndex.html
/LatteMarche.WebApi/dist/cessionariIndex.js
