@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { ControllerName = "Ruoli", DisplayName = "Ruoli" });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Modifica" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<div id="ruoli-edit" class="container-fluid">

    <!-- Pannello modale del caricamento -->
    <waiter ref="waiter"></waiter>

    <!-- Pannelli modali di conferma azioni -->
    <notification-dialog ref="savedDialog"
                         :title="'Conferma salvataggio'"
                         :message="'Ruolo salvato correttamente'"
                         v-on:ok="window.location = '/ruoli/edit?id=' + ruolo.Id"></notification-dialog>

    <input hidden id="id" value="@Request["id"]" />

    <!-- Nav tabs -->
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="tab-mvc" data-toggle="tab" href="#nav-mvc" role="tab" aria-controls="nav-home" aria-selected="true">Autorizzazioni MVC</a>
            <a class="nav-item nav-link" id="tab-api" data-toggle="tab" href="#nav-api" role="tab" aria-controls="nav-profile" aria-selected="false">Autorizzazioni API</a>
            <a class="nav-item nav-link" id="tab-dettaglio-ruolo" data-toggle="tab" href="#nav-dettaglio-ruolo" role="tab" aria-controls="nav-contact" aria-selected="false">Dettaglio ruolo</a>
            <a class="nav-item nav-link" id="tab-utenti" data-toggle="tab" href="#nav-utenti" role="tab" aria-controls="nav-contact" aria-selected="false">Utenti</a>
        </div>
    </nav>

    <!-- Nav content -->
    <div class="tab-content" id="nav-tabContent">

        <!-- Tab Autorizzazioni MVC -->
        <div class="tab-pane fade show active" id="nav-mvc" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="form-group row pt-3" v-for="(pagina, index) in ruolo.Pagine_MVC">
                <div class="col-sm-1 font-weight-bold">{{pagina.Title}}</div>
                <div class="col-sm-4">
                    <div class="form-check" v-for="(item) in pagina.Items">
                        <input class="form-check-input" type="checkbox" v-model="item.Enabled">
                        <label class="form-check-label">
                            {{item.DisplayName}}
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <!-- Tab Autorizzazioni API -->
        <div class="tab-pane fade" id="nav-api" role="tabpanel" aria-labelledby="nav-profile-tab">

            <div class="form-group row pt-3" v-for="(pagina, index) in ruolo.Pagine_API">
                <div class="col-sm-1 font-weight-bold">{{pagina.Title}}</div>
                <div class="col-sm-4">
                    <div class="form-check" v-for="(item) in pagina.Items">
                        <input class="form-check-input" type="checkbox" v-model="item.Enabled">
                        <label class="form-check-label">
                            {{item.DisplayName}}
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <!-- Dettaglio ruolo -->
        <div class="tab-pane fade" id="nav-dettaglio-ruolo" role="tabpanel" aria-labelledby="nav-contact-tab">

            <div class="form-group row pt-3">
                <label class="col-sm-1 offset-2 col-form-label">Codice</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="ruolo.Codice">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-1 offset-2 col-form-label">Descrizione</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="ruolo.Descrizione">
                </div>
            </div>

        </div>

        <!-- Utenti -->
        <div class="tab-pane fade" id="nav-utenti" role="tabpanel" aria-labelledby="nav-contact-tab">

            <table class="table table-striped table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Nome</th>
                        <th>Cognome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(utente, index) in ruolo.Utenti">
                        <td>{{utente.Username}}</td>
                        <td>{{utente.Nome}}</td>
                        <td>{{utente.Cognome}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <!-- salva -->
    <div class="form-group row">
        <div class="col-sm-12 text-right">
            <button class="btn btn-secondary mr-2" v-on:click="window.location = '/ruoli'">Annulla</button>
            <button class="btn btn-success" v-on:click="onSave()" type="submit">Salva</button>
        </div>
    </div>

</div>

<script type="application/javascript" src="~/build/ruoli_edit_page.js"></script>





