@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { ControllerName = "Ruoli", DisplayName = "Ruoli" });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Modifica" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}



@{
    string version = System.Configuration.ConfigurationManager.AppSettings["version"];
}

<input hidden id="id" value="@Request["id"]" />

<div id="app">
</div>

<script src="@Url.Content("~/dist/ruoliEdit.js")?ver=@version"></script>
