<div id="index-ruoli-page">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-right pb-3">
                <a class="btn btn-success" href="/ruoli/new">Aggiungi</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered" id="ruoli-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrizione</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>

<link rel="stylesheet" href="~/Content/plugins/datatables/css/dataTable.b4.css" />
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/dataTable.b4.js"></script>
<script src="~/src/pages/ruoli/index.page.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function () {
        var ruoliIndex = new TabellaRuoli();
    });

</script>

