@using LatteMarche.WebApi.Models
@using LatteMarche.WebApi.Helpers

@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { ControllerName = "Ruoli", DisplayName = "Ruoli" });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Nuovo" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<input hidden id="id" value="@Request["id"]" />


<div id="app">
</div>

<!-- Js -->
@section Js
{
    @{
        var version = System.Configuration.ConfigurationManager.AppSettings["version"];
        var folder = EnvHelper.IsProd ? "prod/js" : "dev";
        var url = "~/dist/" + folder + "/ruoliNew.js";

        <script src="@Url.Content(url)?ver=@version"></script>
    }
}

