// Colors set
$primary: #007bff !default;
$secondary: #6c757d !default;
$success: #28a745 !default;
$info: #117a8b !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #ffffff !default;
$dark: #000000 !default;

$gray-100: #fafafa !default;
$gray-200: #F9F8FC !default;
$gray-300: #EDEDED !default;
$gray-400: #cbc8d0 !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #444 !default;
$gray-800: #343a40 !default;
$gray-900: #17141F !default;
$black: #000 !default;

// Options
$enable-rounded: false !default;

// Body
/*$body-color: $gray-700 !default;*/

// Links
$link-hover-color: $primary !default;

// Fonts
$font-size-base: 0.75rem !default;
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Tables
$table-border-color: rgba(0, 0, 0, 0.05) !default;

// Forms
$input-focus-border-color: $primary !default;

// Dropdowns
/*$dropdown-link-color: $gray-700 !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $primary !default;*/

// Navs
/*$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-link-hover-border-color: $primary !default;*/

// Navbar
/*$navbar-padding-y: 1rem !default;*/
/*$navbar-dark-hover-color: rgba($white,.9) !default;
$navbar-dark-active-color: rgba($white,.9) !default;

$navbar-light-color: rgba($black,.4) !default;
$navbar-light-active-color: rgba($black,.7) !default;
$navbar-light-disabled-color: rgba($black,.2) !default;*/

// Progress bars
/*$progress-bg: $gray-300 !default;
$progress-bar-bg: $primary !default;*/

// List group
$list-group-bg: $gray-900 !default;
$list-group-border-color: transparent !default;
$list-group-hover-bg: lighten($list-group-bg, 10%) !default;
$list-group-active-bg: $list-group-bg !default;
$list-group-disabled-color: lighten($list-group-bg, 30%) !default;

// Table
$table-cell-padding: 8px;
$table-cell-padding-sm: 8px;
