// Custom.scss
// Option B: Include parts of Bootstrap

// Your variable overrides

@import "_variables.scss";
@import "_bootswatch.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

html {
    height: 100%;
}

body {
    padding: 100px 50px;
    margin: 0;
}

.wrapper_container {
    margin: auto;
}

.main-logo {
    width: 7rem;
}

.jumbotron {
    padding: 1rem;
}

.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #f5f5f5;

    p {
        font-size: 0.8rem;
    }
}

label {
    text-align: right;
}

.fixed-top {
    padding: .5rem 2rem .5rem 2rem;
}

.edit-column {
    min-width: 50px;
}

table.dataTable thead tr {
    color: #fff;
    background: #593196;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3ecff;
}

.group.group-end {
    background-color: #593196 !important;
    color: #fff;
    font-weight: 700;
}
