@import "_variables.scss";
@import "_bootswatch.scss";
@import "../../../lattemarche-vue/node_modules/bootstrap/scss/bootstrap";

html {
    height: 100%;
}

body {
    height: 100%;
    /*padding: 100px 50px;
    margin: 0;*/
}

.wrapper_container {
    margin: auto;
}

.home--ctr {
    .home--bg--img {
        background-image: url(/Content/img/hero-cow.jpeg);
        height: 60vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.main-logo {
    width: 7rem;
}

.jumbotron {
    padding: 1rem;
}

.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: $gray-200;

    p {
        font-size: 0.8rem;
    }
}

label {
    text-align: right;
}

.fixed-top {
    padding: .5rem 2rem .5rem 2rem;
}

.edit-column {
    min-width: 50px;
}

table.dataTable thead tr {
    color: $light;
    background-color: $primary;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: $gray-200;
}

.group.group-end {
    background-color: $gray-700 !important;
    color: $light;
    font-weight: $font-weight-bold;
}

tfoot {
    background-color: $primary;
    color: $light;
    font-weight: $font-weight-bold;
}

#DataTables_Table_0_wrapper {
    padding: 0;
}

.c-table-trasportatori thead tr {
    background-color: $primary;
    color: $light;
}