/* BEGIN max width 1200px */
@media (max-width: 1200px) {
	.content-form-page .control-label {
		padding-left: 30px;
		padding-bottom: 5px;
	}
	.content-form-page .col-md-offset-4 {
		margin-left: 15px;
	}
	.content-form-page .pull-right {
		float: left !important;
	}

	.quote-v1 span {
		font-size: 20px;
	}
}
/* END max width 1200px */
