@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Analisi latte" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

@{
    string version = System.Configuration.ConfigurationManager.AppSettings["version"];
}


<div id="app">
</div>

<script src="@Url.Content("~/dist/analisiLatteIndex.js")?ver=@version"></script>