<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net46" />
  <package id="FtpHelper" version="1.0.7396.26104" targetFramework="net46" />
  <package id="NPOI" version="2.4.1" targetFramework="net46" />
  <package id="S22.Imap" version="3.6.0.0" targetFramework="net46" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net46" />
</packages>