<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4c3d4955-736e-4ea0-a988-8c9a58571bb2/resourceGroups/LatteMarche/providers/Microsoft.Web/sites/lattemarche-dev</ResourceId>
    <ResourceGroup>LatteMarche</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lattemarche-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lattemarche-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lattemarche-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>lattemarche-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LatteMarcheDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=lattemarche-dev.database.windows.net;Initial Catalog=lattemarche-dev;Persist Security Info=False;User ID=lattemarche-dev;Password=Whitemilk01!;Application Name=EntityFramework" Name="Data Source=lattemarche-dev.database.windows.net;Initial Catalog=lattemarche-dev;Persist Security Info=False;User ID=lattemarche-dev;Password=Whitemilk01!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lattemarche-dev.database.windows.net;Initial Catalog=lattemarche-dev;Persist Security Info=False;User ID=lattemarche-dev;Password=Whitemilk01!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LatteMarcheDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=lattemarche-dev.database.windows.net;initial catalog=lattemarche-dev;persist security info=False;user id=lattemarche-dev;password=Whitemilk01!;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LatteMarcheDbContext-Web.config Connection String">
      <ParameterValue>data source=lattemarche-dev.database.windows.net;initial catalog=lattemarche-dev;persist security info=False;user id=lattemarche-dev;password=Whitemilk01!;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>