<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <root>
    <level value="ALL" />
    <appender-ref ref="SqlServerAppender"/>
    <appender-ref ref="SentryAppender"/>
  </root>

  <appender name="SentryAppender" type="Sentry.Log4Net.SentryAppender, Sentry.Log4Net">
    <Dsn value="https://a446f661b09343b8a3f828d89f198085@o382996.ingest.sentry.io/5219587"/>
    <!--Sends the log event Identity value as the user-->
    <SendIdentity value="true" />
    <threshold value="INFO" />
  </appender>

  <appender name="SqlServerAppender" type="log4net.Appender.AdoNetAppender">
    <threshold>DEBUG</threshold>
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=(local)\SQLEXPRESS;initial catalog=DB_LATTEMARCHE;persist security info=False;user id=sa;password=Admin.Admin;MultipleActiveResultSets=True" />
    <commandText value="INSERT INTO LOGS ([Date],[Thread],[Source],[Level],[Logger],[Message],[Exception],[HostName],[Identity],[Duration],[Request],[Arguments]) VALUES (@log_date, @thread, 'Portal',@log_level, @logger, @message, @exception, @hostname, @identity,@duration,@request,@arguments)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@hostname" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@identity" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.PatternLayout" >
        <conversionPattern value="%identity" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@duration"/>
      <dbType value="Decimal"/>
      <precision value="14"/>
      <scale value="4"/>
      <layout type="log4net.Layout.RawPropertyLayout" >
        <key value="duration" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@request" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.RawPropertyLayout" >
        <key value="request" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@arguments" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.RawPropertyLayout" >
        <key value="arguments" />
      </layout>
    </parameter>
  </appender>

</log4net>