<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <!--<add key="log4net.Config" value="log4net.test.config" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->

    <add key="synch_pull_enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="synch_push_enabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="send_sitra_enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <connectionStrings>
    <add name="LatteMarcheDbContext" connectionString="data source=192.168.0.73\SQLEXPRESS;initial catalog=DB_LATTEMARCHE;persist security info=False;user id=sa;password=Admin.Admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>