<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <add key="synch_pull_enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="synch_push_enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="send_sitra_enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <connectionStrings>
    <add name="LatteMarcheDbContext" connectionString="data source=lattemarche.database.windows.net;initial catalog=lattemarcheTEST;persist security info=False;user id=lattemarche;password=Whitemilk01!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>