<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DateHelper" version="1.0.6492.17801" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="ExcelHelper" version="1.0.6647.33304" targetFramework="net461" />
  <package id="NPOI" version="2.0.6" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
</packages>