<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net46" />
  <package id="DateHelper" version="1.0.6492.17801" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="ExcelHelper" version="1.0.6647.33304" targetFramework="net46" />
  <package id="NPOI" version="2.4.1" targetFramework="net46" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net46" />
</packages>