@using LatteMarche.WebApi.Models

<!-- Pannello conferma avvenuto salvataggio -->
@Html.Partial("_NotificationDialog", new DialogViewModel()
{
    Id = "save-dialog-panel",
    Title = "Conferma salvataggio",
    Message = "Il tipo latte è stato salvato correttamente"
})

<!-- Pannello di visualizzazione 404 -->
@Html.Partial("_ItemNotFound", new DialogViewModel()
{
    Id = "not-found-panel",
    Message = "Spiacenti, non è stato trovato nessun tipo latte!"
})


<div class="col-lg-12 pt-4" id="detail-panel">
    <div class="m-portlet">

        <!-- header -->
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Dettaglio Tipo Latte
                    </h3>
                </div>
            </div>
        </div>

        <!--begin::Form-->
        <div class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
            <div class="m-portlet__body">


                <!-- Descrizione / Sigla -->
                <div class="form-group m-form__group row justify-content-center pt-5 ">

                    <label class="col-2 col-form-label">
                        Descrizione:
                    </label>
                    <div class="col-3">
                        <input type="text" class="form-control m-input m-input--pill" placeholder="Inserisci descrizione" data-bind="value:Descrizione, valueUpdate:'keypress'">
                    </div>

                    <label class="col-2 col-form-label">
                        Sigla:
                    </label>
                    <div class="col-3">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--pill" placeholder="Inserisci sigla" data-bind="value:DescrizioneBreve, valueUpdate:'keypress'">
                        </div>
                    </div>

                </div>

                <!-- Fattore di conversione -->
                <div class="form-group m-form__group row justify-content-center">

                    <label class="col-lg-2 col-form-label">
                        Fattore di conversione:
                    </label>
                    <div class="col-3">
                        <input type="number" step="0.001" class="form-control m-input m-input--pill" placeholder="Inserisci fattore di conversione" data-bind="value:FattoreConversione, valueUpdate:'keypress'">
                    </div>

                    <div class="col-5" >
                        <span>* Conversione da litri a kg</span>
                    </div>

                </div>
            
            </div>

            <!-- Bottoni -->
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <button id="save" class="float-right btn justify-content-right m-btn--pill btn-success">
                                Salva
                            </button>
                            <button id="cancel" type="reset" class="float-right mr-4 btn m-btn--pill btn-info">
                                Annulla
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Form-->

    </div>
</div>



<script type="text/javascript">

    var viewModel = null;

    jQuery(document).ready(function () {

        viewModel = {

            Id: ko.observable('@Request["id"]'),

            Descrizione: ko.observable(),
            DescrizioneBreve: ko.observable(''),
            FattoreConversione: ko.observable('')

        };


        // caricamento dettaglio tipo latte
        $.getJSON(apiUrl + 'tipiLatte/details', { id: '@Request["id"]' }, function (result) {

            console.log("result", result);

            if (result) {

                viewModel = ko.mapping.fromJS(result);
                ko.applyBindings(viewModel);

            } else {
                $('#detail-panel').addClass('d-none');
                $('#not-found-panel').removeClass('d-none');
            }
        });

        // salvataggio 
        $('#save').click(function () {

            var model = ko.mapping.toJS(viewModel);

            console.log("model", model);

            $.ajax({
                type: "PUT",
                url: apiUrl  + "tipiLatte/update",
                data: model,
                dataType: 'json',
                success: function (result) {
                    $('#save-dialog-panel').modal('show');
                },
                error: function (result) {
                    showError('Si è verificato un errore durante il salvataggio.');
                }
            });
        });

        // ritorno alla pagina index
        $("#cancel").click(function () {
            window.location = webUrl + 'TipiLatte';
        });

        // chiusura pannello avvenuto salvataggio
        $('#save-dialog-panel .ok').click(function () {
            window.location = webUrl + 'TipiLatte';
        });

        // invio event
        $("body").keypress(function (event) {

            if (event.which == 13) {

                if ($('#dialog-panel').hasClass('in')) {

                    // pannello errore imprevisto
                    $('#dialog-panel .ok').trigger('click');

                } else if ($('#save-dialog-panel').hasClass('in')) {

                    // salvato correttamente
                    $('#save-dialog-panel .ok').trigger('click');

                } else if ($('#save').is(":visible")) {

                    // salvataggio
                    $('#save').trigger('click');
                }

            }
        });


    });

</script>

