@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { ControllerName = "TipiLatte", DisplayName = "Tipi latte" });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Modifica" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<div id="tipi-latte-edit" class="container-fluid pr-5 pl-5">

    <!-- Pannello modale del caricamento -->
    <waiter ref="waiter"></waiter>

    <!-- Pannelli modali di conferma azioni -->
    <notification-dialog ref="savedDialog"
                         :title="'Conferma salvataggio'"
                         :message="'Tipo latte salvato correttamente'"
                         v-on:ok="window.location = '/tipilatte'"></notification-dialog>

    <input hidden id="id" value="@Request["id"]" />

    <!-- descrizione / descrizione breve -->
    <div class="row pb-3">
        <label class="col-sm-2">Descrizione</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" v-model="tipiLatte.Descrizione" />
        </div>
        <label class="col-sm-2">Sigla</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" v-model="tipiLatte.DescrizioneBreve" />
        </div>
    </div>

    <!-- fattore conversione / flag invio sitra -->
    <div class="row pb-3">
        <label class="col-sm-2">Fattore di conversione</label>
        <div class="col-sm-4">
            <input type="number" step="0.001" class="form-control" v-model="tipiLatte.FattoreConversione" />
            <small class="form-text text-muted">Conversione da litri a kg.</small>
        </div>
        <label class="col-sm-2"></label>
        <div class="col-sm-4">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="checkboxSitra" v-model="tipiLatte.FlagInvioSitra">
                <label class="form-check-label" for="checkboxSitra">Sincronizza con Sitra</label>
            </div>
        </div>
    </div>

    <!-- salva -->
    <div class="row pt-3">
        <div class="col-md-12 text-right">
            <button class="btn btn-secondary mr-2" v-on:click="window.location = '/tipilatte'">Annulla</button>
            <button v-on:click="onSave()" class="btn btn-success">Salva</button>
        </div>
    </div>

</div>

<script type="application/javascript" src="~/build/tipilatte_edit_page.js"></script>



