@using LatteMarche.WebApi.Models
@model DialogViewModel

<div class="modal fade @Model.ClassName" id="@Model.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@Model.Title</h4>
            </div>
            <div class="modal-body">
                <p>@Model.Message</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary confirm" data-dismiss="modal">Si</button>
            </div>
        </div>
    </div>
</div>