<footer class="main-footer">
       <div class="container-fluid">
           <div class="row">
               <div class="col-12 text-center">
                   <p>Copyright 2018 Latte Marche Soc. Coop. Agricola. Tutti i diritti riservati.</p>
               </div>
           </div>
       </div>
</footer>


