<footer class="main-footer mt-5">
       <div class="container-fluid">
           <div class="row">
               <div class="col-12 text-center pt-3">
                   <p>© Copyright 2018 Latte Marche Soc. Coop. Agricola. Tutti i diritti riservati.</p>
               </div>
           </div>
       </div>
</footer>


