@using LatteMarche.WebApi.Models
@model DialogViewModel

<!-- Pannello di errore 404 -->
<div class="container alert alert-danger mt-3" role="alert" id="@Model.Id">
    <strong>@Model.Message</strong>
</div>