@using LatteMarche.WebApi.Models
@model DialogViewModel


<!-- Nuova view per il messaggio di alert -->
    <div class="alert alert-brand m-alert m-alert--icon m-alert--air m-alert--square m--margin-bottom-30 hide" id="@Model.Id" role="alert" style="margin:1.25em">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation-1"></i>
        </div>
        <div class="m-alert__text">
            @Model.Message
        </div>
    </div>