@using LatteMarche.WebApi.Models
@model DialogViewModel

<!-- Pannello di visualizzazione 404 -->
<div id="@Model.Id" class="portlet light hide @Model.ClassName">
    <div class="portlet-body">
        <div class="row margin-left-20 margin-right-20 margin-bottom-40 margin-top-40">
            <h2>@Model.Message</h2>
        </div>
    </div>
</div>