
<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
    <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
        <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
            <li class="m-menu__item  m-menu__item--active" aria-haspopup="true">
                <a href="/" class="m-menu__link ">
                    <span class="m-menu__link-text">
                        Home
                    </span>
                </a>
            </li>

            <li class="m-menu__item  m-menu__item--active" aria-haspopup="true">
                <a href="/Allevatori" class="m-menu__link ">
                    <span class="m-menu__link-text">
                        Allevatori
                    </span>
                </a>
            </li>

            @if (Request.IsAuthenticated)
            {

                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" aria-haspopup="true">
                    <a href="#" class="m-menu__link m-menu__toggle">
                        <span class="m-menu__item-here"></span>
                        <span class="m-menu__link-text">Item 1</span>
                        <i class="m-menu__hor-arrow la la-angle-down"></i>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:230px">
                        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                        <div class="m-menu__subnav">
                            <ul class="m-menu__content">
                                <li class="m-menu__item">
                                    <h3 class="m-menu__heading m-menu__toggle">
                                        <a href="#" class="m-menu__link"><span class="m-menu__item-here m-menu__link-text">Subitem 1</span></a>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" aria-haspopup="true">
                    <a href="#" class="m-menu__link m-menu__toggle">
                        <span class="m-menu__item-here"></span>
                        <span class="m-menu__link-text">Item 2</span>
                        <i class="m-menu__hor-arrow la la-angle-down"></i>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:230px">
                        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                        <div class="m-menu__subnav">
                            <ul class="m-menu__content">
                                <li class="m-menu__item">
                                    <h3 class="m-menu__heading m-menu__toggle">
                                        <a href="#" class="m-menu__link"><span class="m-menu__item-here m-menu__link-text">Subtem 2</span></a>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" aria-haspopup="true">
                    <a href="#" class="m-menu__link m-menu__toggle">
                        <span class="m-menu__item-here"></span>
                        <span class="m-menu__link-text">Amministrazione</span>
                        <i class="m-menu__hor-arrow la la-angle-down"></i>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:230px">
                        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                        <div class="m-menu__subnav">
                            <ul class="m-menu__content">
                                <li class="m-menu__item">
                                    <h3 class="m-menu__heading">
                                        @*<a href="/" class="m-menu__link"><span class="m-menu__item-here m-menu__link-text">Utenti</span></a>*@
                                        @Html.ActionLink("Utenti", "Index", "Utenti", null, new { @class = "m-menu__link m-menu__item-here m-menu__link-text" })
                                    </h3>
                                </li>
                            </ul>
                            <ul class="m-menu__content">
                                <li class="m-menu__item">
                                    <h3 class="m-menu__heading">
                                        @*<a href="/" class="m-menu__link"><span class="m-menu__item-here m-menu__link-text">Utenti</span></a>*@
                                        @Html.ActionLink("Gestione Trasportatori", "Index", "Trasportatori", null, new { @class = "m-menu__link m-menu__item-here m-menu__link-text" })
                                    </h3>
                                </li>
                            </ul>
                        </div>

                    </div>
                </li>
            }

            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" aria-haspopup="true">

                @**@
                @*<div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:230px">
                    <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                    <div class="m-menu__subnav">
                        <ul class="m-menu__content">
                            <li class="m-menu__item">
                                <h3 class="m-menu__heading">

                                    @Html.ActionLink("Utenti", "Index", "Utenti", null, new { @class = "m-menu__link m-menu__item-here m-menu__link-text" })
                                </h3>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </li>
        </ul>
    </div>
</div>
<!-- end::Horizontal Menu -->