@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Amministrazione" });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Azioni" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<div id="index-azioni-page" style="padding-top: 40px">

    <table class="table table-striped table-bordered" id="azioni-table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Controller</th>
                <th>Action</th>
                <th>ViewItem</th>
                <th>Pagina</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>

<link rel="stylesheet" href="~/Content/plugins/datatables/css/dataTable.b4.css" />
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/dataTable.b4.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function () {
    $('#waiter').modal('show');
        var url = apiUrl + 'azioni';

        var table = $('#azioni-table').dataTable({
            lengthMenu: [[10, 15, 20, -1], [10, 15, 20, "Tutte"]],
            processing: true,
            pageLength: 10,
            retrieve: true,
            bPaginate: true,
            language: {
                "sEmptyTable": "Nessun dato presente nella tabella",
                "sInfo": "Vista da _START_ a _END_ di _TOTAL_ righe",
                "sInfoEmpty": "Vista da 0 a 0 di 0 righe",
                "sInfoFiltered": "(filtrati da _MAX_ righe totali)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "Visualizza _MENU_ righe",
                "sLoadingRecords": "Caricamento...",
                "sProcessing": "Elaborazione...",
                "sSearch": "Cerca:",
                "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst": "Inizio",
                    "sPrevious": "Precedente",
                    "sNext": "Successivo",
                    "sLast": "Fine"
                },
                "oAria": {
                    "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }
            },
            columns: [
                { "data": "Type" },
                { "data": "Controller" },
                { "data": "Action" },
                { "data": "ViewItem" },
                { "data": "Pagina" },
                { "data": "Nome" }
            ]
        });

        $.ajax({
            type: "POST",
            url: apiUrl + "azioni/synch",
            dataType: 'json',
            success: function (result) {
                loadAzioni();
            }
        });

        function loadAzioni() {
            // Caricamento dati JSON
            $.getJSON(url, function (result) {
                console.log("azioni", result);
                $('#waiter').modal('hide');
                table.fnClearTable();
                if (result.length > 0) {
                    table.fnAddData(result);
                }
                table.fnDraw();
            });
        }
    });

</script>



