@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Utenti" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<div id="index-utenti-page">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-right pb-3">
                <a class="btn btn-success" href="/utenti/edit">Aggiungi</a>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered" id="utenti-table">
        <thead>
            <tr>
                <th>Ragione sociale</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Username</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>

<link rel="stylesheet" href="~/Content/plugins/datatables/css/dataTable.b4.css" />
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/dataTable.b4.js"></script>
<script src="~/src/pages/utenti/index.page.js"></script>

<script>

    jQuery(document).ready(function () {
        var untentiIndex = new TabellaUtenti();
    });

</script>
