@using LatteMarche.WebApi.Models

<!-- Pannello conferma avvenuto salvataggio -->
@Html.Partial("_NotificationDialog", new DialogViewModel()
{
    Id = "save-dialog-panel",
    Title = "Conferma salvataggio",
    Message = "L'utente è stato salvato correttamente"
})


<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="col-lg-12" id="detail-panel">
    <div class="m-portlet">

        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Aggiungi dettagli nuovo utente
                    </h3>
                </div>
            </div>
        </div>

        <!--begin::Form-->
        <div class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
            <div class="m-portlet__body">

                <!-- Ragione Sociale / Username -->
                <div class="form-group m-form__group row justify-content-center pt-5 ">

                    <label class="col-2 col-form-label">
                        Ragione Sociale:
                    </label>
                    <div class="col-8">
                        <input type="text" class="form-control m-input m-input--pill m-input--air" placeholder="Inserisci ragione sociale" data-bind="value:RagioneSociale, valueUpdate:'keypress'">
                    </div>

                </div>

                <!-- Username / Password -->
                <div class="form-group m-form__group row justify-content-center">

                    <label class="col-2 col-form-label">
                        Username:
                    </label>
                    <div class="col-3">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--pill m-input--air" placeholder="Inserisci username" data-bind="value:Username, valueUpdate:'keypress'">
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                            </span>
                        </div>
                    </div>

                    <label class="col-2 col-form-label">
                        Password:
                    </label>
                    <div class="col-3">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="password" class="form-control m-input m-input--pill m-input--air" placeholder="Inserisci password" data-bind="value:Password, valueUpdate:'keypress'">
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                            </span>
                        </div>
                    </div>

                </div>

                <!-- Nome / Cognome -->
                <div class="form-group m-form__group row justify-content-center">

                    <label class="col-lg-2 col-form-label">
                        Nome:
                    </label>
                    <div class="col-3">
                        <input type="text" class="form-control m-input m-input--pill m-input--air" placeholder="Inserisci il tuo nome" data-bind="value:Nome, valueUpdate:'keypress'">
                    </div>

                    <label class="col-2 col-form-label">
                        Cognome:
                    </label>
                    <div class="col-3">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--pill m-input--air" placeholder="Inserisci il tuo cognome" data-bind="value:Cognome, valueUpdate:'keypress'">
                        </div>
                    </div>

                </div>

                <!-- Sesso / P.IVA -->
                <div class="form-group m-form__group row justify-content-center">
                    <label class="col-2 col-form-label">
                        Sesso:
                    </label>
                    <div class="col-3">
                        <div class="btn-group bootstrap-select form-control m-bootstrap-select m-bootstrap-select--air m-bootstrap-select--pill m_">
                            <div class="dropdown-menu open" role="combobox" x-placement="bottom-start" style="max-height: 295.828px; overflow: hidden; min-height: 0px; position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                            </div>
                            <select class="form-control m-bootstrap-select m-bootstrap-select--air m-bootstrap-select--pill m_selectpicker" placeholder="Seleziona" data-bind="value: Sesso, select2: {allowClear: true}" tabindex="-98">
                                <option value=""></option>
                                <option value="M">Maschio</option>
                                <option value="F">Femmina</option>
                            </select>
                        </div>
                    </div>
                    <label class="col-2 col-form-label">
                        P.Iva - CF:
                    </label>
                    <div class="col-3">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--pill m-input--air" placeholder="Inserisci P.Iva - CF" data-bind="value:PivaCF, valueUpdate:'keypress'">
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Indirizzo / Provincia / Comune -->
                <div class="form-group m-form__group row justify-content-center">
                    <label class="col-2 col-form-label">
                        Indirizzo:
                    </label>
                    <div class="col-3">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--pill m-input--air" placeholder="Inserisci il tuo indirizzo" data-bind="value:Indirizzo, valueUpdate:'keypress'">
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-2 col-form-label">
                        Provincia:
                    </label>
                    <div class="col-1">
                        <div class="m-select2 m-select2--air m-select2--pill">
                            <select class="provincia form-control m-select2" id="m_select2_12_3" data-bind="options: Province,  value: SiglaProvincia, optionsCaption: '', select2: {allowClear: true}" name="param" data-placeholder="Prov.">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="m-select2 m-select2--air m-select2--pill mar-top--prov">
                            <select class="form-control m-select2 select2-hidden-accessible" data-bind="options: Comuni, optionsValue: 'Id', value: IdComune, optionsText: 'Descrizione', optionsCaption: '', select2: {allowClear: true}" id="m_select2_12_3" name="param" data-placeholder="Città" tabindex="-1" aria-hidden="true">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Telefono / Cellulare  -->
                <div class="form-group m-form__group row justify-content-center">
                    <label class="col-2 col-form-label">
                        Telefono:
                    </label>
                    <div class="col-3">
                        <input type="text" class="form-control m-input m-input--pill m-input--air" data-bind="value:Telefono, valueUpdate:'keypress'" placeholder="Inserisci numero di telefono">
                    </div>
                    <label class="col-2 col-form-label">
                        Cellulare:
                    </label>
                    <div class="col-3">
                        <input type="text" class="form-control m-input m-input--pill m-input--air" data-bind="value:Cellulare, valueUpdate:'keypress'" placeholder="Inserisci numero di cellulare">
                    </div>
                </div>

                <!-- Codice allevatore / Tipo latte -->
                <div class="form-group m-form__group row justify-content-center">
                    <label class="col-2 col-form-label">
                        Codice Allevatore:
                    </label>
                    <div class="col-3">
                        <input type="text" class="form-control m-input m-input--pill m-input--air" data-bind="value:CodiceAllevatore, valueUpdate:'keypress'" placeholder="Inserisci codice allevatore">
                    </div>
                    <label class="col-2 col-form-label">
                        Tipo di Latte:
                    </label>
                    <div class="col-3">
                        <div class="m-select2 m-select2--air m-select2--pill">
                            <select class="form-control m-select2 select2-hidden-accessible" data-bind="options: TipiLatte, optionsValue: 'Id', value: IdTipoLatte, optionsText: 'Descrizione', optionsCaption: '', select2: {allowClear: true}" id="m_select2_12_3" name="param" data-placeholder="Tipo di Latte" tabindex="-1" aria-hidden="true">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
               
                <!-- Quota latte / Comunicazione quota latte -->
                <div class="form-group m-form__group row justify-content-center">
                    <label class="col-2 col-form-label">
                        Quota del Latte (Kg):
                    </label>
                    <div class="col-3">
                        <input type="number" class="form-control m-input m-input--pill m-input--air" data-bind="value:QuantitaLatte, valueUpdate:'keypress'" placeholder="Inserisci quota del latte">
                    </div>
                    <label class="col-2 col-form-label">
                        Com. Quota Latte N°:
                    </label>
                    <div class="col-3">
                        <input type="text" class="form-control m-input m-input--pill m-input--air" data-bind="value:NumeroComunicazione, valueUpdate:'keypress'" placeholder="Inserisci comunicazione quota">
                    </div>
                </div>

                <!-- Tipo profilo / Abilitato / Visibile -->
                <div class="form-group m-form__group row justify-content-center">
                    <label class="col-2 col-form-label">
                        Tipo di Profilo:
                    </label>
                    <div class="col-3">
                        <div class="m-select2 m-select2--air m-select2--pill">
                            <select class="form-control m-select2 select2-hidden-accessible" data-bind="options: TipiProfilo, optionsValue: 'Id', value: IdProfilo, optionsText: 'Descrizione', optionsCaption: '', select2: {allowClear: true}" id="m_select2_12_3" name="param" data-placeholder="Tipo di profilo" tabindex="-1" aria-hidden="true">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <label class="col-2 col-form-label">
                        Abilitato:
                    </label>
                    <div class="col-1">
                        <div class="btn-group bootstrap-select form-control m-bootstrap-select m-bootstrap-select--air m-bootstrap-select--pill m_">
                            <div class="dropdown-menu open" role="combobox" x-placement="bottom-start" style="max-height: 295.828px; overflow: hidden; min-height: 0px; position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                            </div>
                            <select class="form-control m-bootstrap-select m-bootstrap-select--air m-bootstrap-select--pill m_selectpicker" data-bind="value: Abilitato, select2: {allowClear: true}" tabindex="-98">
                                <option value=""></option>
                                <option value="true">Si</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                    <label class="col-1 col-form-label">
                        Visibile:
                    </label>
                    <div class="col-1">
                        <div class="btn-group bootstrap-select form-control m-bootstrap-select m-bootstrap-select--air m-bootstrap-select--pill m_">
                            <div class="dropdown-menu open" role="combobox" x-placement="bottom-start" style="max-height: 295.828px; overflow: hidden; min-height: 0px; position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                            </div>
                            <select class="form-control m-bootstrap-select m-bootstrap-select--air m-bootstrap-select--pill m_selectpicker" data-bind="value: Visibile, select2: {allowClear: true}" tabindex="-98">
                                <option value=""></option>
                                <option value="true">Si</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Note -->
                <div class="form-group m-form__group row justify-content-center">
                    <label class="col-2 col-form-label">
                        Note:
                    </label>
                    <div class="col-8">
                        <textarea class="form-control m-input m-input--pill m-input--air" data-bind="value:Note, valueUpdate:'keypress'" id="exampleTextarea" rows="3"></textarea>
                    </div>
                </div>

                <!-- Validation messages -->
                <div class="row form-group">
                    <dl class="col-xs-8 col-xs-offset-2 padding-top-30 padding-left-20 ">
                        <!-- ko foreach: ValidationMessages -->
                        <dd><h5><strong><span class="text-danger" data-bind="text: messageText"></span></strong></h5></dd>
                        <!-- /ko -->
                    </dl>
                </div>

            </div>

            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <button id="save" class="float-right btn justify-content-right m-btn--pill m-btn--air btn-info">
                                Salva
                            </button>
                            <button type="reset" class="float-right mr-4 btn m-btn--pill m-btn--air btn-info">
                                Annulla
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Form-->
    </div>
</div>

<script type="text/javascript">

    var viewModel = null;

    jQuery(document).ready(function () {

        viewModel = {
            Id: ko.observable(),
            Username: ko.observable(),
            Password: ko.observable(),
            Nome: ko.observable(''),
            Cognome: ko.observable(''),
            RagioneSociale: ko.observable(''),
            Sesso: ko.observable(),
            PivaCF: ko.observable(''),

            Indirizzo: ko.observable(''),
            IdComune: ko.observable(''),
            Telefono: ko.observable(''),
            Cellulare: ko.observable(''),
            CodiceAllevatore: ko.observable(''),
            IdTipoLatte: ko.observable(''),
            IdProfilo: ko.observable(''),
            QuantitaLatte: ko.observable(''),
            NumeroComunicazione: ko.observable(''),
            Note: ko.observable(''),

            Province: ko.observableArray(''),
            Comuni: ko.observableArray(''),
            TipiLatte: ko.observableArray(''),
            TipiProfilo: ko.observableArray(''),

            SiglaProvincia: ko.observable(''),
            IdComune: ko.observable(''),

            Abilitato: ko.observable(false),
            Visibile: ko.observable(false),

            Id:ko.observable(''),

            ValidationMessages: ko.observableArray('')
        };

        ko.applyBindings(viewModel);

        bindProvince();
        bindTipiLatte();
        bindTipiProfilo();

        $('#save').click(function () {
            $('#waiter').modal('show');
            var model = ko.mapping.toJS(viewModel);

            $.ajax({
                type: "POST",
                url: apiUrl + "utenti/create",
                data: model,
                dataType: 'json',
                success: function (result) {

                    console.log("result", result);

                    viewModel.ValidationMessages.removeAll();
                    for (var i = 0; i < result.length; i++) {
                        viewModel.ValidationMessages.push({ messageText: '- ' + result[i] });
                    }

                    $('#waiter').modal('hide');

                    if (viewModel.ValidationMessages().length == 0) {
                        viewModel.Id(result.Id);
                        $('#save-dialog-panel').modal('show');
                    }
                },
                error: function (e) {
                    $('#waiter').modal('hide');
                    showError('Si è verificato un errore durante il salvataggio.');
                }
            });
        });

        $("#cancel").click(function () {
            window.location = webUrl + 'Utenti';
        });

        $('#save-dialog-panel .ok').click(function () {
            window.location = webUrl + 'Utenti/Details?id=' + viewModel.Id();
        });

        // invio event
        $("body").keypress(function (event) {

            if (event.which == 13) {

                if ($('#dialog-panel').hasClass('in')) {

                    // pannello errore imprevisto
                    $('#dialog-panel .ok').trigger('click');

                } else if ($('#save-dialog-panel').hasClass('in')) {

                    // salvato correttamente
                    $('#save-dialog-panel .ok').trigger('click');

                } else if ($('#save').is(":visible")) {

                    // salvataggio
                    $('#save').trigger('click');
                }

            }
        });

        
        // change dropdown provincia
        $(".provincia").change(function (e) {
            if (e.val) {
                var provincia = $(this).val();
                bindComuni(provincia);
            }
        });
        
        // bind dropdown province
        function bindProvince(provinciaSelezionata) {
            $.getJSON(apiUrl + "comuni/province", function (result) {
                viewModel.Province(result);

                if (provinciaSelezionata) {
                    viewModel.Provincia(provinciaSelezionata);
                }

            });
        }

        // bind dropdown comuni
        function bindComuni(provincia, comuneSelezionato) {

            if (provincia == null)
                return;

            $.getJSON(apiUrl + "comuni/search?provincia=" + provincia, function (result) {
                viewModel.Comuni(result);

                if (comuneSelezionato) {
                    viewModel.IdComune(comuneSelezionato);
                }                
            });

        }

        // bind dropdown TipiLatte
        function bindTipiLatte(idTipoLatte) {
            $.getJSON(apiUrl + "TipiLatte", function (result) {
                viewModel.TipiLatte(result);

                if (idTipoLatte) {
                    viewModel.IdTipoLatte(idTipoLatte);
                }                
            });
        }

        // bind dropdown TipiProfilo
        function bindTipiProfilo(idTipoProfilo) {
            $.getJSON(apiUrl + "TipiProfilo", function (result) {
                viewModel.TipiProfilo(result);

                if (idTipoProfilo) {
                    viewModel.IdProfilo(idTipoProfilo);
                }

            });
        }

    });
    

</script>