<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.0.0" targetFramework="net461" />
  <package id="AutoMapper" version="8.0.0" targetFramework="net461" />
  <package id="AutoMapper.EF6" version="2.0.0" targetFramework="net461" />
  <package id="ClosedXML" version="0.95.3" targetFramework="net461" />
  <package id="DateHelper" version="1.0.7571.21747" targetFramework="net461" />
  <package id="DelegateDecompiler" version="0.24.0" targetFramework="net461" />
  <package id="DelegateDecompiler.EntityFramework" version="0.24.0" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="ExcelHelper" version="1.0.7472.30715" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net461" />
  <package id="HashHelper" version="1.0.0" targetFramework="net46" />
  <package id="log4net" version="2.0.11" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Mono.Reflection.Core" version="1.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
  <package id="NPOI" version="2.4.1" targetFramework="net46" />
  <package id="RestSharp" version="106.10.1" targetFramework="net461" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net46" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" requireReinstallation="true" />
  <package id="WeCode.Application" version="1.0.7570.21542" targetFramework="net461" />
  <package id="WeCode.Data" version="1.0.7459.22210" targetFramework="net461" />
  <package id="Z.EntityFramework.Extensions" version="4.0.101" targetFramework="net461" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.12.39" targetFramework="net461" />
  <package id="Z.Expressions.Eval" version="4.0.22" targetFramework="net461" />
</packages>