@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Acquirenti" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<div id="acquirenti-page" class="container">

    <!-- Pannello editazione dettaglio -->
    <editazione-acquirente-modal ref="editazioneAcquirenteModal"
                               :acquirente="acquirente"
                               v-on:salvato="$refs.savedDialog.open()"></editazione-acquirente-modal>

    <!-- Pannello Salvataggio prelievo-->
    <notification-dialog ref="savedDialog"
                         :title="'Conferma salvataggio'"
                         :message="'L acquirente è stato salvato correttamente'"  
                         v-on:ok="window.location = '/Acquirenti'"></notification-dialog>

    <!-- Tabella -->
    <data-table :columns="columnOptions" :rows="acquirenti" v-on:data-loaded="onDataLoaded">

        <!-- Toolbox -->
        <template slot="toolbox">
            <button class="toolbox btn btn-primary float-right" v-on:click="onAggiungi()" >Aggiungi</button>
        </template>

        <!-- Colonne -->
        <template slot="thead">
            <th>P. IVA</th>
            <th>Ragione sociale</th>
            <th></th>
        </template>

    </data-table>
</div>

<link rel="stylesheet" href="~/Content/plugins/datatables/css/dataTable.b4.css" />
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/dataTable.b4.js"></script>

<script type="application/javascript" src="~/build/acquirenti_index_page.js"></script>

