@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Acquirenti" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<div id="acquirenti-page" class="container-fluid p-0">

    @{
        string canAdd = Convert.ToBoolean(ViewBag.Tokens["Aggiungi"]) ? "true" : "false";
        string canEdit = Convert.ToBoolean(ViewBag.Tokens["Modifica"]) ? "true" : "false";
        string canRemove = Convert.ToBoolean(ViewBag.Tokens["Rimuovi"]) ? "true" : "false";
    }

    <input hidden id="canAdd" value="@canAdd" />
    <input hidden id="canEdit" value="@canEdit" />
    <input hidden id="canRemove" value="@canRemove" />

    <!-- Pannello editazione dettaglio -->
    <editazione-acquirente-modal ref="editazioneAcquirenteModal"
                                 :acquirente="acquirente"
                                 v-on:salvato="$refs.savedDialog.open()"></editazione-acquirente-modal>

    <!-- Pannello notifica salvatagggio -->
    <notification-dialog ref="savedDialog"
                         :title="'Conferma salvataggio'"
                         :message="'Acquirente salvato correttamente'"
                         v-on:ok="window.location = '/Acquirenti'"></notification-dialog>

    <!-- Pannello notifica rimozione -->
    <notification-dialog ref="removedDialog"
                         :title="'Conferma rimozione'"
                         :message="'Acquirente rimosso correttamente'"
                         v-on:ok="window.location = '/Acquirenti'"></notification-dialog>

    <!-- Pannello modale conferma eliminazione -->
    <confirm-dialog ref="confirmDeleteDialog"
                    :title="'Conferma eliminazione'"
                    :message="'Sei sicuro di voler rimuovere l\'acquirente selezionato?'"
                    v-on:confirmed="onRemove()"></confirm-dialog>

    <!-- Tabella -->
    <data-table :options="tableOptions" :rows="acquirenti" v-on:data-loaded="onDataLoaded">

        <!-- Toolbox -->
        <template slot="toolbox" v-if="canAdd" >
            <button class="toolbox btn btn-primary float-right" v-on:click="onAdd()">Aggiungi</button>
        </template>

        <!-- Colonne -->
        <template slot="thead">
            <th>P. IVA</th>
            <th>Ragione sociale</th>
            <th v-if="canEdit || canRemove" ></th>
        </template>

    </data-table>
</div>

<link rel="stylesheet" href="~/Content/plugins/datatables/css/dataTable.b4.css" />
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/dataTable.b4.js"></script>

<script type="application/javascript" src="~/build/acquirenti_index_page.js"></script>

