@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Acquirenti" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<div id="acquirenti-page" class="container">
    <h1>Acquirenti</h1>
</div>



