@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Normative" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<div id="index-documenti-page">

    <table class="table table-striped table-bordered" id="documenti-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Descrizione</th>
                <th>Data inserimento</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>

<link rel="stylesheet" href="~/Content/plugins/datatables/css/dataTable.b4.css" />
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/dataTable.b4.js"></script>
<script src="~/src/pages/documenti/index.page.js"></script>

<script>

    jQuery(document).ready(function () {
        var documentiIndex = new TabellaDocumenti();
    });

</script>





