<div id="index-allevatori-page">

    <table class="table table-striped table-bordered table-hover" id="allevatori-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Azienda</th>
                <th>Indirizzo</th>
                <th>Comune</th>
                <th>Provincia</th>
                @*@if (Request.IsAuthenticated)
                    {
                        <th>Azioni</th>
                    }*@

            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>

<link rel="stylesheet" href="~/Content/plugins/datatables/css/dataTable.b4.css" />
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/dataTable.b4.js"></script>
<script src="~/src/pages/allevatori/index.page.js"></script>


<script type="text/javascript">

    var isAuthenticated = '@Request.IsAuthenticated' == 'True';

    jQuery(document).ready(function () {
        var allevatoriIndex = new TabellaAllevatori();
    });

</script>



