@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Allevatori" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

<div id="index-allevatori-page">

    <data-table :columns="columnOptions" :rows="allevatori">
        <template slot="thead">
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Category</th>
            <th>Birthday</th>
        </template>
    </data-table>

</div>

<link rel="stylesheet" href="~/Content/plugins/datatables/css/dataTable.b4.css" />
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/dataTable.b4.js"></script>

<script type="application/javascript" src="~/build/allevatori_index_page.js"></script>





