<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="days_depth" value="10000" />
    <add key="range_synch" value="100" />
    <add key="ClientSettingsProvider.ServiceUri" value="http://lattemarche-dev.azurewebsites.net" />
  </appSettings>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=lattemarchedev;AccountKey=jdgXOUflD9LQX4AmOUhFTQDwfB+gDIC/EGerizlOe5qbRVWdX/YQvycCQsE+HHS2xvQQzn4FT65D44C3TZeKrw==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=lattemarchedev;AccountKey=jdgXOUflD9LQX4AmOUhFTQDwfB+gDIC/EGerizlOe5qbRVWdX/YQvycCQsE+HHS2xvQQzn4FT65D44C3TZeKrw==;EndpointSuffix=core.windows.net" />
    
    <add name="LatteMarcheDbContext" connectionString="data source=lattemarche-dev.database.windows.net;initial catalog=lattemarche-dev;persist security info=False;user id=lattemarche-dev;password=Whitemilk01!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="LatteMarcheDbContext" connectionString="data source=(local)\SQLEXPRESS;initial catalog=DB_LATTEMARCHE;persist security info=True;user id=sa;password=Admin.Admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    
    <add name="OldDbContext" connectionString="data source=79.1.200.254;initial catalog=NEWDB_LATTE_MARCHE;persist security info=False;user id=userlm;password=admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>